<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    {{ titleCard }}
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <div class="row mb-3">
                        <div class="col-md-7">
                            <form action="" method="get">
                                <div class="input-group input-group-sm" >
                                    <select class="form-control" style="width:200px;" v-model="data.cariJenis">
                                        <option value="">Pilih Jenis Sampah</option>
                                        <option v-for="(row, index) in jeniss" :key="index" :value="row.id_jenis_sampah">{{row.nama_jenis_sampah}}</option>
                                    </select>
                                    &nbsp;
                                    <date-picker v-model="data.tglAwal" @change="cekTglAwal" lang="en" type="date" format="YYYY-MM-DD" :style="dateStyle" placeholder="Dari"></date-picker>&nbsp;
                                    <date-picker v-model="data.tglAkhir" @change="cekTglAkhir" lang="en" type="date" format="YYYY-MM-DD" :style="dateStyle" placeholder="Sampai"></date-picker>&nbsp;
                                    <button @click.prevent="filterSubmit" class="btn btn-success btn-sm" style="width: 40px;"><i class="fas fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 offset-md-2 text-right">
                            <div class="input-group input-group-sm">
                                <input type="text" placeholder="Search" class="form-control">
                                <button class="btn btn-primary btn-sm" ><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <b-table :per-page="perPage" :current-page="currentPage" :fields="kolom" :items="s_lapPenjualan" head-variant="light" thead-class="text-center" show-empty responsive small bordered hover striped>
                                <template v-slot:cell(index)="row">
                                    {{((currentPage*10)-10) + row.index + 1}}
                                </template>
                                <template v-slot:cell(detail)="row">
                                    <nuxt-link :to="{name: 'laporan_penjualan-lihat-id', params: {id: row.item.id_penjualan_sekolah}}" class="btn btn-info btn-sm">
                                        <i class="fas fa-eye"></i></nuxt-link>
                                </template>
                                <template v-slot:cell(foto_sampah)="row">
                                    <div v-if="row.item.foto_sampah == ''">Kosong</div>
                                    <div v-else>
                                        <img :src="row.item.foto_sampah" alt="foto">
                                    </div>
                                </template>
                            </b-table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn btn-primary btn-sm">Jumlah Record : {{s_lapPenjualan.length}}</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <b-pagination class="float-right btn-sm" v-model="currentPage" :total-rows="s_lapPenjualan.length" :per-page="perPage"></b-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/layouts/Header'
import {mapState, mapActions, mapMutations} from 'vuex'
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'

export default {
    data() {
        return {
            title: 'Laporan Penjualan',
            titleCard: 'List Laporan Penjualan',
            kolom: [
                { key: 'index', label: 'No', tdClass: 'text-center', thStyle: 'width: 50px;'},
                { key: 'tgl_penjualan', label: 'Tanggal', tdClass: 'text-center'},
                { key: 'nama_sampah', label: 'Nama Sampah'},
                { key: 'deskripsi_jenis_sampah', label: 'Deskripsi'},
                { key: 'total_berat', label: 'Total Berat', tdClass: 'text-center'},
                { key: 'nama_jenis_sampah', label: 'Jenis Sampah'},
                { key: 'harga_minimal_jual'},
                { key: 'harga_jual'},
                { key: 'foto_sampah', label: 'Foto', tdClass: 'text-center'},
                { key: 'detail', tdClass: 'text-center'}
            ],
            data: {
                tglAwal: '',
                tglAkhir: '',
                cariJenis: '',
            },
            dateStyle: 'width: 150px;',
            perPage: 10,
            currentPage: 1
        }
    },
    components: {
        'app-header': Header,
        DatePicker
    },
    computed: {
        ...mapState('lap_penjualan', {
            s_lapPenjualan: state => state.s_lapPenjualan
        }),
        ...mapState('jenis', {
            jeniss: state => state.jeniss
        })
    },
    methods: {
        ...mapActions("lap_penjualan", ["getLapPenjualanData"]),
        ...mapActions("jenis", ["getJenisData"]),
        cekTglAwal() {
            if(this.data.tglAkhir == '' || this.data.tglAkhir == null){
            } else {
                if(this.data.tglAwal > this.data.tglAkhir) {
                    swal({
                        position  : 'top-end',
                        type      : 'warning',
                        title     : 'pastikan tgl sesuai!',
                        text      : 'Tgl awal tidak boleh lebih dari tgl akhir',
                        showConfirmButton: false,
                        timer: 1200
                    })
                    this.data.tglAwal = this.data.tglAkhir
                }
            }
        },
        cekTglAkhir() {
            if(this.data.tglAwal == '' || this.data.tglAwal == null) {
            } else {
                if(this.data.tglAkhir < this.data.tglAwal){
                    if(this.data.tglAkhir == null) {
                    } else {
                        swal({
                            position  : 'top-end',
                            type      : 'warning',
                            title     : 'pastikan tgl sesuai!',
                            text      : 'Tgl akhir tidak boleh kurang dari tgl awal',
                            showConfirmButton: false,
                            timer: 1200
                        })
                        this.data.tglAkhir = this.data.tglAwal
                    }
                }
            }
        },
        filterSubmit() {
            console.log(this.data)
        }
    },
    created() {
        this.getLapPenjualanData()
        this.getJenisData()
    }
}
</script>