<template>
    <div>
        <Header :title="title"></Header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    {{ titleCard }}  
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <div class="col-md-4 offset-md-8">
                        <div class="row float-right mb-3">
                            <div class="input-group">
                                <input type="text" placeholder="Search" v-model="search" @keypress.enter="findJenis" class="form-control-sm">
                                <button class="btn btn-primary btn-sm" @click="findJenis"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <b-table :items="jeniss" :fields="fields" thead-class="text-center" head-variant="light" show-empty responsive striped hover bordered small :per-page="perPage" :current-page="currentPage">
                        <template v-slot:cell(index)="row">
                            {{((currentPage*10)-10) + (row.index + 1)}}
                        </template>
                        <template v-slot:cell(foto_jenis_sampah)="row">
                            <div v-if="row.item.foto_jenis_sampah == '' || row.item.foto_jenis_sampah == null">
                                <span class="badge badge-warning">Kosong</span>
                            </div>
                            <div v-else>
                                <img :src="row.item.foto_jenis_sampah" alt="Foto Jenis Sampah" style="max-width: 80px; max-height: 80px;">
                            </div>
                        </template>
                        <template v-slot:cell(actions)="row">
                            <nuxt-link :to="{name: 'jenis_sampah-lihat-id', params: {id: row.item.id_jenis_sampah}}" :key="'lihat'+row.index" class="btn btn-info btn-sm" data-toogle title="Detail"><i class="fas fa-eye"></i></nuxt-link>
                        </template>
                    </b-table>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn btn-primary btn-sm">Jumlah Record : {{jeniss.length}}</div>
                        </div>
                        <div class="col-md-6">
                            <b-pagination class="float-right" size="sm" v-model="currentPage" :total-rows="jeniss.length" :per-page="perPage"></b-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>


import { mapActions, mapState, mapMutations } from 'vuex'
import Header from '@/components/layouts/Header'
export default {
    //KETIKA PAGE DILOAD, MAKA FUNGSI INI AKAN DIJALANKAN SECARA OTOMATIS
    //DIMANA KITA MEMANGGIL FUNGSI GETUSERSDATA DARI STORE USER
    async asyncData({store}) {
        await Promise.all([
            store.dispatch('jenis/getJenisData')
        ])
        return
    },
    data() {
        return {
            //FIELD UNTUK MENJADI HEADER TABLE
            title: 'Jenis Sampah',
            titleCard: 'List Jenis Sampah',
            fields: [
                { key: 'index', label: 'No', tdClass: 'text-center', thStyle: 'width:50px;'},
                { key: 'nama_kategori_sampah', label: 'Kategori Sampah'},
                { key: 'deskripsi_jenis_sampah', label: 'Deskripsi'},
                { key: 'nama_jenis_sampah'},
                { key: 'foto_jenis_sampah', label: 'Foto'},
                { key: 'actions', label: 'Aksi', thStyle: 'width: 80px;', tdClass: 'text-center'}], 
            items: [],
            posts : [''],
			currentPage: 1,
			perPage: 10,
            pages: [],	
            search: ''
        }
        
    },
   computed: {
        //SETIAP REQUEST KE API, DATANYA AKAN DISIMPAN KE DALAM STATE YANG ADA DIMASING-MASING MODULE STORE VUEX
        //DALAM HAL INI, DATA USER AKAN DISIMPAN KE DALAM STATE USERS, DI DALAM MODULE USER ATAU USER.JS YANG ADA DI DALAM FOLDER STORE
        ...mapState('jenis', {
            jeniss: state => state.jeniss,
            // page: state => state.page
        })
    },
    //  watch: {
    //     //KETIKA VALUE DARI STATE PAGE BERUBAH
    //     page() {
    //         //MAKA KITA REQUEST DATA BARU
    //         this.getUsersData(this.search)
    //     }  
    // },
    methods: {
        ...mapActions('jenis', ['getJenisData']),
        ...mapMutations('jenis', ['SET_PAGE']),
      
          findJenis() {
            this.getJenisData(this.search)
        },
        
    },
    components: {
        Header
    }

        
  
}
</script>