<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">{{titleCard}}</div>
            </div>
            <div class="card-body">

                <div class="tab-content p-0">
                    <table class="tabke table-bordered table-stripped mb-4 w-100">
                        <tr>
                            <td class="p-2 font-weight-bold">Nota</td>
                            <td class="p-2">{{data.id_setoran}}</td>
                        </tr>
                        <tr>
                            <td class="p-2 font-weight-bold">Status transaksi</td>
                            <td class="p-2">
                                <span class="badge badge-success">{{data.status_setoran}}</span>
                            </td>  
                        </tr>
                    </table>
                    <div class="row" style="margin-bottom: 10px">

                        <div class="col-md">
                            <div class="btn-group btn-group-sm">
                                <nuxt-link :to="{name: ''}" class="btn btn-primary btn-sm">Tambah</nuxt-link>
                                <nuxt-link :to="{name: 'nabung_sampah'}" class="btn btn-danger btn-sm">Akhiri Transaksi</nuxt-link>
                            </div>
                        </div>
                        <div class="col-md text-right">
                            <form action="" class="form-inline float-right" method="get">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <!-- <nuxt-link :to="{name: ''}" class="btn btn-default">Reset</nuxt-link> -->
                                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <b-table :fields="kolom" :items="data.data" responsive show-empty bordered small striped hover head-variant="light" thead-class="text-center">
                        <template v-slot:cell(index)="row">
                            {{row.index + 1}}
                        </template>
                        <template v-slot:cell(total)="row">
                            {{row.item.berat_setoran * row.item.harga_setoran}}
                        </template>
                        <template v-slot:cell(aksi)="row">
                            <div class="btn-group">
                                <nuxt-link :to="{name: row}" class="btn btn-info btn-sm" data-toogle title="Detail"><i class="fas fa-eye"></i></nuxt-link>
                                <nuxt-link :to="{name: row}" class="btn btn-danger btn-sm" data-toogle title="Delete"><i class="fas fa-trash"></i></nuxt-link>
                            </div>
                        </template>
                    </b-table>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn btn-primary btn-sm">Jumlah Record : {{data.data.length}}</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <!-- pagination -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/layouts/Header'
import {mapActions, mapState} from 'vuex'
export default {
    async asyncData({store, params}) {
        await Promise.all([
            store.dispatch('setoran/getSetoranDetail', params.id)
        ])
    },
    data() {
        return {
            title: 'Setoran',
            titleCard: 'Detail Setoran',
            kolom:[
                { key: 'index', label: 'No', tdClass: 'text-center'},
                { key: 'nama_jenis_sampah', label: "Sampah"},
                { key: 'id_merk', label: 'Merk'},
                { key: 'harga_setoran', label: 'Harga'},
                { key: 'berat_setoran', label: 'Berat', tdClass: 'text-center'},
                { key: 'total', tdClass: 'text-center'},
                { key: 'aksi', tdClass: 'text-center'}]
        }
    },
    components: {
        'app-header': Header
    },
    computed: {
        ...mapState('setoran', {
            data: state => state.data
        })
    },
    methods: {
        ...mapActions('setoran', ["getSetoranDetail"])
    }
}
</script>