<template>
    <div>
        <Header :title="title"></Header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    {{ titleCard }}
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <div class="row mb-3">
                        <div class="col-md-9">
                            <nuxt-link :to="{name: 'daftar_siswa-tambah'}" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i> Tambah Data</nuxt-link>
                        </div>
                        <div class="col-md-3 text-right">
                            <div class="input-group input-group-sm">
                                <input type="text" placeholder="Search" class="form-control" v-model="search" @keyup="findSiswa">
                                <button class="btn btn-primary btn-sm" @click="findSiswa"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <b-table :per-page="perPage" :current-page="currentPage" hover outlined bordered small striped responsive :items="siswas" :fields="fields" head-variant="light" show-empty thead-class="text-center">
                                <template v-slot:cell(index)="row">
                                    {{((currentPage*10)-10) + row.index + 1 }}
                                </template>
                                <template v-slot:cell(saldo_siswa)="row">
                                    <div v-if="row.item.saldo_siswa == null">0 <b>Koin</b></div>
                                    <div v-else>{{row.item.saldo_siswa}} <b>Koin</b></div>
                                </template>
                                <template v-slot:cell(aksi)="row">
                                    <div class="btn-group">
                                        <nuxt-link :to="{name: 'daftar_siswa-lihat-id', params: {id: row.item.id_siswa}}" :key="'lihat'+row.index" class="btn btn-info btn-sm" data-toggle="tooltip" title="Detail"><i class="fas fa-eye"></i></nuxt-link>
                                        <nuxt-link :to="{name: 'daftar_siswa-edit-id', params: {id: row.item.id_siswa}}" :key="'edit'+row.index" class="btn btn-success btn-sm" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></nuxt-link>
                                        <button class="btn btn-danger btn-sm" @click="openDelConfirmModal(row.item)" data-toggle="tooltip" title="Delete"><i class="fas fa-trash"></i></button>
                                    </div>
                                </template>
                            </b-table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn btn-primary btn-sm">Jumlah Record : {{siswas.length}}</div>
                            <div class="btn btn-success btn-sm" @click="openKetModal"><i class="fas fa-file-excel"></i> Export Excel</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <!-- pagination -->
                            <b-pagination class="float-right" size="sm" v-model="currentPage" :total-rows="siswas.length" :per-page="perPage"></b-pagination>
                        </div>
                    </div>
                    <div>
                        <b-modal v-model="delConfirmModal" title="Hapus Data Siswa">
                            Yakin akan menghapus data siswa {{deleteSelected.nama_siswa}}? 
                            <template v-slot:modal-footer>
                                <div class="float-right">
                                    <b-button variant="primary" size="sm" @click="delConfirmModal = false">Batal</b-button>
                                    <b-button variant="danger" size="sm" @click="deleteSiswaAction">Hapus</b-button>
                                </div>
                            </template>
                        </b-modal>
                        <b-modal v-model="ketModal" title="Keterangan">
                            Fitur belum tersedia
                            <template v-slot:modal-footer>
                                <div class="float-right">
                                    <b-button variant="primary" size="sm" @click="openKetModal">OK</b-button>
                                </div>
                            </template>
                        </b-modal>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import Header from '@/components/layouts/Header'
export default {
    data() {
        return {
            title: 'Siswa',
            titleCard: 'List Siswa',
            fields: [ 
                    { key: 'index', label: 'No', tdClass: 'text-center', thStyle: 'width: 50px;'},
                    { key: 'nis', label: 'NIS', sortable: true},
                    { key: 'nama_siswa', sortable: true},
                    { key: 'email_siswa', sortable: true},
                    { key: 'no_hp_siswa', sortable: true},
                    { key: 'alamat_siswa', sortable: true},
                    { key: 'saldo_siswa', sortable: false, tdClass: 'text-center'},
                    { key: 'aksi', thStyle: 'width: 120px;', tdClass: 'text-center' }], 
            items: [],
            posts : [''],
            currentPage: 1, 
            perPage: 10,
            pages: [],	
            search: '',
            delConfirmModal: false,
            ketModal: false,
            deleteSelected: []
        }
    },
    computed: {
        ...mapState('siswa', {
            siswas: state => state.siswas,
            response: state => state.response
        })
    },
    components: {
        Header
    },
    methods: {
        ...mapActions('siswa', ['getSiswaData','deleteData']),
        ...mapMutations('siswa', ['SET_PAGE']),
        findSiswa() {
            this.getSiswaData(this.search)
        }, 
        openDelConfirmModal(row) {
            this.deleteSelected = row
            this.delConfirmModal = true
        },
        openKetModal() {
            if(this.ketModal == true){
                this.ketModal = false
            } else {
                this.ketModal = true
                this.delConfirmModal = false
            }
        },
        deleteSiswaAction(){
            this.delConfirmModal = false
            this.deleteData(this.deleteSelected.id_siswa)
            .then(() => {
                if(this.response.status == true){
                    swal({
                        position  : 'top-end',
                        type      : 'success',
                        title     : 'Success!',
                        text      : this.response.message,
                        showConfirmButton: false,
                        timer: 1200
                    })
                } else {
                    swal({
                        position  : 'top-end',
                        type      : 'warning',
                        title     : 'Gagal!',
                        text      : this.response.message,
                        showConfirmButton: false,
                        timer: 1200
                    })
                }
                this.$router.push({name: 'daftar_siswa'})
            })
        }
    },
    created() {
        this.getSiswaData()
    }
}
</script>
