<template>
  <div class="jumbotron jumbotron-fluid" style="margin-bottom: 10px;">
    <div class="container"   align="center" style="min-height:100px;overflow: auto;">
            <!-- <div style="max-width: 400px; min-width: 300px;">
            </div> -->
      <div class="card" style="max-width: 400px; min-width: 300px;">
        <div class="card-body login-card-body">
          <h5>Login Superadmin</h5>
          <br />
          <form method="post" @submit.prevent="submit">
              <div class="alert alert-danger" role="alert" :style="'display:'+showErr+';'" :class="cekError">
                <div class="text-left">
                  {{err.message}}
                </div>
              </div>
            <div class="input-group mb-3">
              <input
                type="email"
                v-model="auth.email"
                class="form-control"
                placeholder="Email"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                v-model="auth.password"
                type="password"
                class="form-control"
                placeholder="Password"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <p class="mb-1 float-right">
              <nuxt-link :to="{name: 'lupa_password'}" class="text-center" :class="'text-'+warna">
                  <font size="2"> <i class="nav-icon fas fa-key"></i> Lupa password </font>
              </nuxt-link>
            </p>
            <button type="submit" class="btn btn-block" :class="'btn-'+warna">
              <i class="nav-icon fas fa-sign-in-alt"></i> Login
            </button>
          </form>
          <hr>
          <p class="mb-0" style="text-align: center;">
              Belum punya akun?
              <nuxt-link :to="{name: 'register'}" class="text-center" :class="'text-'+warna"><b> Register</b></nuxt-link>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  layout: 'login_layout',
  auth: false, //JADI KITA SET FALSE AGAR MIDDLEWARE TIDAK DITERAPKAN PADA HALAMAN INI
  data() {
    return {
        warna: 'info',
      title: "Login | Bank Sampah",
      auth: {
        email: null,
        password: null
      },
      err: [],
      showErr: 'none'
    };
  },
  mounted() {
    //KITA LAKUKAN PENGECEK, JIKA SUDAH LOGIN
    if (this.$auth.loggedIn) {
      //MAKA REDIRECT KE HALAMAN UTAMA ATAU DASHBOARD
      this.$router.push("/dashboard");
    }
  },
  head() {
    return {
      title: this.title,
       bodyAttrs: {
        class: ["bg-"+this.warna]
      }
    };
  },
  computed: {
    cekError() {
      if(this.err.status == false){
        this.showErr = 'block'
      } else {
        this.showErr = 'none'
      }
    }
  },
  methods: {
    ...mapMutations(["SET_IS_AUTH"]), //LOAD MUTATIONS DARI ROOT VUEX (STORE/INDEX.JS)
    //JIKA TOMBOL LOGIN DITEKAN, MAKA METHOD INI AKAN DIJALANKAN
    async submit() {
      try {
        //MELAKUKAN PROSES LOGIN, DENGAN MENGGUNAKAN STRATEGIES LOCAL YANG ADA DI NUXT CONFIG
        //DAN MENGIRIMKAN DATA BERUPA EMAIL DAN PASSWORD
        this.$auth
          .loginWith("local", {
            data: {
              email: this.auth.email,
              password: this.auth.password
            }
          })
          .then(resp => {
            //JIKA BERHASIL, KITA SET TRUE IS AUTH-NYA
            this.$auth.setUser(resp.data.data);
            this.SET_IS_AUTH(true);
            
           this.$auth.$storage.setUniversal('key', resp.data.data.id_sekolah);
           this.$auth.$storage.setUniversal('name', resp.data.data.name);
            console.log(resp.data.data);
            //LALU REDIRECT KE HALAMAN UTAMA / DAHSBOARD
            this.$router.push("/dashboard");
          })
          .catch((error) => {
            this.err = error.response.data
          })
      } catch (e) {
        if (e.response.status == 401) {
        }
        this.pesan = this.auth.email;
      }
    },

  }
};
</script>
