<template>
  <div class="jumbotron jumbotron-fluid" style="margin-bottom: 10px;">
    <div class="container"   align="center" style="min-height:100px;overflow: auto;">
        <div class="card col-sm-7 m-auto">
            <div class="card-body mb-2">
                <p class="login-box-msg text-dark">Silahkan isi form berikut</p>
                <form class="mb-4" action="" method="post">
                    <div class="row">
                        <div class="col-md">
                            <div class="input-group mb-3">
                                <select @change="cekLembaga" name="jenjang" class="form-control" required v-model="regis.jenjang">
                                    <option value="">- Pilih Jenjang -</option>
                                    <option v-for="(row, index) in s_jenjang" :key="index" :value="row.id_jenjang_pendidikan">
                                        {{row.nama_jenjang_pendidikan}}
                                    </option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <select class="form-control" required v-model="regis.lembaga">
                                    <option value="" data-chained="0">- Pilih Lembaga -</option>
                                    <option v-for="(row, index) in s_lembaga" :key="index" :value="row.id_lembaga_pendidikan">
                                        {{row.nama_lembaga_pendidikan}}
                                    </option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Email Sekolah" required v-model="regis.emailsekolah">
                                <div class="input-group-append">
                                    <div class="input-group-text" style="background: none">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Nomor Telp Sekolah" required v-model="regis.notelpsekolah">
                                <div class="input-group-append">
                                    <div class="input-group-text" style="background: none">
                                        <span class="fas fa-phone"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Masukkan Password" required v-model="regis.password">
                                <div class="input-group-append">
                                    <div class="input-group-text" style="background: none">
                                        <span class="fas fa-key"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Konfiirmasi Password" required v-model="regis.repassword">
                                <div class="input-group-append">
                                    <div class="input-group-text" style="background: none">
                                        <span class="fas fa-key"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Nama Sekolah" required v-model="regis.nama">
                                <div class="input-group-append">
                                    <div class="input-group-text" style="background: none">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <textarea class="form-control" placeholder="Alamat Sekolah" required v-model="regis.alamat"></textarea>
                                <div class="input-group-append">
                                    <div class="input-group-text" style="background: none">
                                        <span class="fas fa-book"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <select class="form-control" required @change="cekProvinsi" v-model="regis.provinsi">
                                    <option value="">- Pilih Provinsi -</option>
                                    <option v-for="(row, index) in s_provinsi" :key="index" :value="row.id_provinsi">
                                        {{ row.nama_provinsi }}
                                    </option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <select name="kabupaten" class="form-control" required @change="cekKabupaten" v-model="regis.kabupaten">
                                    <option value="" data-chained="">- Pilih Kabupaten -</option>
                                        <option v-for="(row, index) in s_kabupaten" :key="index" :value="row.id_kabupaten">
                                        {{ row.nama_kabupaten }}
                                        </option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <select name="kecamatan" class="form-control" required v-model="regis.kecamatan">
                                    <option value="" data-chained="">- Pilih Kecamatan -</option>
                                    <option v-for="(row, index) in s_kecamatan" :key="index" :value="row.id_kecamatan">
                                {{ row.nama_kecamatan }}
                                </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3 float-right">
                        <label style="width: 100%" for="dat" class="text-center text-dark">Berapa 5+5</label>
                        <input name="dat" type="text" id="dat" class="form-control rounded-left" placeholder="Jawab" required>
                        <div class="input-group-append">
                            <div class="input-group-text" style="background: none">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 text-right">
                        <button class="btn btn-block" :class="'btn-'+warna" @click.prevent="submit">Daftar</button>
                    </div>
                </form>
                <div class="row">
                    <div style="width:45%;border-top: 1px solid rgba(0, 0, 0, 0.2)"></div>
                    <span class="text-center" style="width:10%; padding: 0px;margin-top: -14px;color:rgba(0, 0, 0, 0.4)">or</span>
                    <div style="width:45%;border-top: 1px solid rgba(0, 0, 0, 0.2)"></div>
                </div>
                <span class="text-dark">Sudah Punya Akun ? <nuxt-link :to="{name: 'login'}" class="badge badge-btn badge-success">Login</nuxt-link></span>
                <br />
            </div>
            <!-- /.form-box -->
        </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapState, mapMutations} from 'vuex'
export default {
    layout: 'login_layout',
    auth:false,
    middleware: 'guest',
    data() {
        return {
            warna: 'info',
            regis: {
                jenjang: '',
                lembaga: '',
                nama: '',
                alamat: '',
                provinsi: '',
                kecamatan: '',
                kabupaten: '',
                emailsekolah: '',
                password: '',
                repassword: '',
                notelpsekolah: ''
            }
        }
    },
    head() {
        return {
            title: 'Register | Bank Sampah',
            bodyAttrs: {
                class: ["bg-"+this.warna]
            }
        }
    },
    computed: {
        ...mapState('register', {
            s_jenjang: state => state.s_jenjang,
            s_lembaga: state => state.s_lembaga,
            s_provinsi: state => state.s_provinsi,
            s_kabupaten: state => state.s_kabupaten,
            s_kecamatan: state => state.s_kecamatan,
            s_errors: state => state.s_errors
        })
    },
    methods: {
        ...mapActions("register", ["storeRegisterData","getKabupatenData","getKecamatanData", "getProvinsiData", "getLembagaData", "getJenjangData"]),
        cekProvinsi() {
            this.getKabupatenData(this.regis.provinsi);
        },
        cekKabupaten() {
            this.getKecamatanData(this.regis.kabupaten);
        },
        cekLembaga() {
            this.getLembagaData(this.regis.jenjang)
        },
        submit() {
            // console.log(this.regis);
            console.log('input data');
            this.storeRegisterData(this.regis).then(() => this.$router.push({name: 'login'}))
        }
    },
     created() {
        this.getJenjangData()
        this.getProvinsiData()
    },
}
</script>