<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">{{titleCard}}</div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <div class="col-lg-11 ml-5 mt-3 mb-3">
                        <table class="table table-sm">
                            <tr>
                                <td style="font-weight: bold;">Tanggal Penjualan</td> 
                                <td>{{}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Nama Sampah</td>
                                <td>{{}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Deskripsi Sampah</td>
                                <td>{{}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Nama Jenis Sampah</td>
                                <td>{{}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Harga Minimal Jual</td>
                                <td>{{}}</td>
                            </tr> 
                            <tr>
                                <td style="font-weight: bold;">Harga Jual</td>
                                <td>{{}}</td>
                            </tr> 
                            <tr>
                                <td style="font-weight: bold;">Total Berat Sampah</td>
                                <td>{{}}</td>
                            </tr> 
                            <tr>
                                <td style="font-weight: bold;">Diubah Pada</td>
                                <td>{{}}</td>
                            </tr>
                        </table>
                        <nuxt-link :to="{name: 'penjualan_sampah'}" class="btn btn-primary btn-sm" style="width: 20%;margin-left: 0px;"><i class="fas fa-backward "></i> Kembali</nuxt-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/layouts/Header'
export default {
    async asyncData({store, params}){
        await Promise.all ([
            // console.log()
        ])
    },
    data() {
        return {
            title: 'Penjualan Sampah',
            titleCard: 'Detail Penjualan Sampah'
        }
    },
    components: {
        'app-header': Header
    }
}
</script>