<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    {{ titleCard }}
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Table -->
                            <table class="table table-bordered table-striped table-condensed" style="margin-bottom: 20px">
                                <tr>
                                    <td class="font-weight-bold">Kategori Sampah</td>
                                    <td>{{data.id_kategori_sampah}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Nama Jenis Sampah</td>
                                    <td>{{data.nama_jenis_sampah}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Foto Jenis Sampah</td>
                                    <td>
                                        <img :src="data.foto_jenis_sampah" alt="Foto Jenis Sampah" style="height:100px">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Deskripsi Jenis Sampah</td>
                                    <td>{{data.deskripsi_jenis_sampah}}</td>
                                </tr>
                            </table>
                            <div>
                                <nuxt-link :to="{name: 'jenis_sampah'}" class="btn btn-primary btn-sm" style="width: 100px;">Kembali</nuxt-link>
                            </div>
                            <table class="table table-bordered table-striped table-sm" style="margin-top: 20px">
                                <tr>
                                    <th class="text-center" style="width: 50px;">No</th>
                                    <th class="text-center">Nama Merk</th>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>isi no 1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn btn-primary btn-sm">Jumlah Record : 0</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <!-- pagination -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex' 
import Header from '@/components/layouts/Header'
export default {
    data() {
        return {
            title: 'Jenis Sampah',
            titleCard: 'Detail Jenis Sampah',
        }
    },
      //FUNGSI INI AKAN DIJALANKAN KETIKA HALAMAN EDIT DI LOAD
    async asyncData({store, params}) {
        await Promise.all([
            //DAN AKAN MEMINTA DATA YANG AKAN DIEDIT BERDASARKAN ID USER
            store.dispatch('jenis/getData', params.id)
        ])
        return
    },
    computed: {
        ...mapState('jenis', {
            data: state => state.data[0],
            errors: state => state.errors
        })
    },
    created() {
        console.log(this.data)
    },
    components: {
        'app-header': Header
    }
}
</script>