<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    {{ titleCard }}
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <div class="row mb-3">
                        <div class="col-md-9">
                            <nuxt-link :to="{name: 'tarik_saldo_siswa-tambah'}" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i> Tambah Data</nuxt-link>
                        </div>
                        <div class="col-md-3 text-right">
                            <div class="input-group input-group-sm">
                                <input type="text" placeholder="Search" class="form-control">
                                <button class="btn btn-primary btn-sm" ><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Table -->
                             <b-table id="my-table" :per-page="perPage" :current-page="currentPage" :fields="kolom" :items="s_tarikSaldo" thead-class="text-center" head-variant="light" show-empty responsive small bordered hover striped>
                                 <template v-slot:cell(index)="row">
                                     {{((currentPage*10)-10) + row.index + 1}}
                                 </template>
                                 <template v-slot:cell(jml_tarik)="row">
                                     {{row.item.jml_tarik}} <b>Koin</b>
                                 </template>
                                 <template v-slot:cell(sisa_saldo)="row">
                                     {{row.item.sisa_saldo}} <b>Koin</b>
                                 </template>
                             </b-table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn btn-primary btn-sm">Jumlah Record : {{s_tarikSaldo.length}}</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <b-pagination class="float-right btn-sm" v-model="currentPage" :total-rows="s_tarikSaldo.length" :per-page="perPage" aria-controls="my-table"></b-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/layouts/Header'
import { mapActions, mapState, mapMutations } from 'vuex'
export default {
    data() {
        return {
            title: 'Tarik Saldo',
            titleCard: 'List Tarik Saldo',
            kolom: [
                { key: 'index', label: 'No', tdClass: 'text-center', thStyle: 'width: 50px;'},
                { key: 'nama_jenis_tarik_saldo_offline', label: 'Jenis Tarik Saldo'},
                { key: 'nama_siswa'},
                { key: 'jml_tarik', label: 'Jumlah Tarik', tdClass: 'text-center'},
                { key: 'sisa_saldo', label: 'Sisa Saldo', tdClass: 'text-center'},
                { key: 'created_at', label: 'Tgl Tarik Saldo', tdClass: 'text-center'}],
            currentPage: 1, 
            perPage: 10,
        }
    },
    components: {
        'app-header': Header
    },
    computed: {
        ...mapState('tarik_saldo', {
            s_tarikSaldo: state => state.s_tarikSaldo
        })
    },
    methods: {
        ...mapActions("tarik_saldo", ["getTarikSaldoData"])
    },
    created() {
        this.getTarikSaldoData()
    }
}
</script>