<template>
    <div class="tab-content p-0 ml-4 mr-4">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label>Nomor Induk Siswa</label>
                        <input type="text" class="form-control" placeholder="Nomor Induk Siswa" v-model="siswa.nis" required/>
                        <span :style="ketStyle" v-if="ketVal.nis != ''">{{ketVal.nis}}</span>
                    </div>
                    <div class="form-group">
                        <label>Nama Siswa</label>
                        <input type="text" class="form-control" placeholder="Nama Siswa" v-model="siswa.nama_siswa" required/>
                        <span :style="ketStyle" v-if="ketVal.nama_siswa != ''">{{ketVal.nama_siswa}}</span>
                    </div>
                    <div class="form-group">
                        <label>Alamat Siswa</label>
                        <input type="text" class="form-control" placeholder="Alamat Siswa" v-model="siswa.alamat_siswa" required/>
                        <span :style="ketStyle" v-if="ketVal.alamat_siswa != ''">{{ketVal.alamat_siswa}}</span>
                    </div>
                   <div class="form-group">
                        <label class="float-left">Provinsi</label>
                        <div class="input-group">
                            <select required @change="province" class="form-control" v-model="siswa.provinsi">
                                <option value="">Pilih Provinsi</option>
                                <option v-for="(row, index) in provinsis" :key="index" :value="row.id_provinsi">
                                {{ row.nama_provinsi }}
                                </option>
                            </select>
                        </div>
                        <span :style="ketStyle" v-if="ketVal.provinsi != ''">{{ketVal.provinsi}}</span>
                    </div>
                    <div class="form-group">
                        <label class="float-left">Kabupaten</label>
                        <div class="input-group">
                            <select @change="kabup"  class="form-control" v-model="siswa.kabupaten">
                                <option value="">Pilih Kabupaten</option>
                                  <option v-for="(row, index) in kabupatens" :key="index" :value="row.id_kabupaten">
                                {{ row.nama_kabupaten }}
                                </option>
                            </select>
                        </div>
                        <span :style="ketStyle" v-if="ketVal.kabupaten != ''">{{ketVal.kabupaten}}</span>
                    </div>
                    <div class="form-group">
                        <label class="float-left">Kecamatan</label>
                        <div class="input-group">
                            <select required class="form-control" v-model="siswa.kecamatan">
                                <option value="">Pilih Kecamatan</option>
                                  <option v-for="(row, index) in kecamatans" :key="index" :value="row.id_kecamatan">
                                {{ row.nama_kecamatan }}
                                </option>
                            </select>
                        </div>
                        <span :style="ketStyle" v-if="ketVal.kecamatan != ''">{{ketVal.kecamatan}}</span>
                    </div>
                    <div class="form-group">
                        <label>Email Siswa</label>
                        <input type="email" class="form-control" placeholder="Email Siswa" v-model="siswa.email_siswa"/>
                        <span :style="ketStyle" v-if="ketVal.email_siswa != ''">{{ketVal.email_siswa}}</span>
                    </div>
                    <div class="form-group">
                        <label>No Hp Siswa</label>
                        <input type="text" maxlength="13" minlength="10" @keypress="hanyaAngka" class="form-control" placeholder="No Hp Siswa" v-model="siswa.no_hp_siswa"/>
                        <span :style="ketStyle" v-if="ketVal.no_hp_siswa != ''">{{ketVal.no_hp_siswa}}</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group text-center">
                        <label>Foto Kartu Siswa</label><br>
                        <div v-if="tampilTambah">
                            <input type="file" @change="onSelectedFile" class="form-control" accept=".png, .jpg, .jpeg">
                        </div>
                        <div v-else>
                            <div v-if="siswa.foto_kartu_siswa == null">
                                <input type="file" @change="onSelectedFile" class="form-control" accept=".png, .jpg, .jpeg">
                            </div>
                            <div v-else>
                                <div>
                                    <img :src="siswa.foto_kartu_siswa" alt="Foto Kartu Siswa" style="max-width: 300px; max-height: 220px;">
                                </div>
                                <button class="btn btn-secondary btn-sm mt-2" @click.prevent="cekGantiFoto">Ganti Foto</button>
                                <div class="mt-2" :style="'display: '+showGantiFoto+';'">
                                    <input type="file" @change="onSelectedFile" class="form-control" accept=".png, .jpg, .jpeg">
                                </div>
                            </div>
                        </div>
                        <span :style="ketStyle" v-if="ketVal.foto_kartu_siswa != ''" class="float-left">{{ketVal.foto_kartu_siswa}}</span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100px;" @click.prevent="submit">Simpan</button>
            <nuxt-link :to="{name: 'daftar_siswa'}" class="btn btn-secondary" style="width: 100px;">Batal</nuxt-link>
        </form>
    </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
export default {
    data(){
        return {
            siswa: {
                nis: '',
                nama_siswa: '',
                alamat_siswa: '',
                provinsi: '',
                kabupaten: '',
                kecamatan: '',
                email_siswa: '',
                no_hp_siswa: '',
                tgl_siswa_daftar: '',
                foto_kartu_siswa: null
            },
            ketVal:{
                nis: '',
                nama_siswa: '',
                alamat_siswa: '',
                provinsi: '',
                kabupaten: '',
                kecamatan: '',
                email_siswa: '',
                no_hp_siswa: '',
                foto_kartu_siswa: ''
            },
            ketStyle: 'color:red; font-size: 14px;',
            err: 0,
            kab:[],
            foto: [],
            showGantiFoto: 'none',
            SimpanDataEdit: {
                id_siswa: '',
                formData: null
            },
            tampilTambah: false
        }
    },
    computed:{
        ...mapState('siswa', {
            provinsis: state => state.provinsis,
            kabupatens: state => state.kabupatens,
            kecamatans: state => state.kecamatans,
            data: state => state.data,
            response: state => state.response
        }),
    },
    created() {
        this.getProvinsiData()
        if(this.$route.name == 'daftar_siswa-tambah'){
            this.tampilTambah = true
        }
        if(this.$route.name == 'daftar_siswa-edit-id'){
            this.getKabupatenData(this.data.id_provinsi)
            this.getKecamatanData(this.data.id_kabupaten)
            this.siswa= {
                nis: this.data.nis,
                nama_siswa: this.data.nama_siswa,
                alamat_siswa: this.data.alamat_siswa,
                provinsi: this.data.id_provinsi,
                kabupaten: this.data.id_kabupaten,
                kecamatan: this.data.id_kecamatan,
                email_siswa: this.data.email_siswa,
                no_hp_siswa: this.data.no_hp_siswa,
                foto_kartu_siswa: this.data.foto_kartu_siswa
            }
        }
    },
    methods:{
        ...mapActions("siswa", ["getKabupatenData","getKecamatanData","getProvinsiData","storeSiswaData","editDataSiswa"]),
        ...mapMutations('siswa', ['SET_KAB_DATA','SET_KEC_DATA']),
        province() {
            this.getKabupatenData(this.siswa.provinsi)
            this.siswa.kabupaten = ''
            this.siswa.kecamatan = ''
        },
        kabup() {
            this.getKecamatanData(this.siswa.kabupaten)
            this.siswa.kecamatan = ''
        },
        onSelectedFile(event){
            this.siswa.foto_kartu_siswa = event.target.files[0]
        },
        validasiForm(){
            this.err = 0

            if(this.siswa.nis == ''){
                this.ketVal.nis = 'NIS Tidak Boleh Kosong'
                this.err++
            } else {
                this.ketVal.nis = ''
            }
            if(this.siswa.nama_siswa == ''){
                this.ketVal.nama_siswa = 'Nama Siswa Tidak Boleh Kosong'
                this.err++
            } else {
                this.ketVal.nama_siswa = ''
            }
            if(this.siswa.alamat_siswa == ''){
                this.ketVal.alamat_siswa= 'Alamat Tidak Boleh Kosong'
                this.err++
            } else {
                this.ketVal.alamat_siswa = ''
            }
            if(this.siswa.provinsi == ''){
                this.ketVal.provinsi = 'Provinsi Tidak Boleh Kosong'
                this.err++
            } else {
                this.ketVal.provinsi = ''
            }
            if(this.siswa.kabupaten == ''){
                this.ketVal.kabupaten = 'Kabupaten Tidak Boleh Kosong'
                this.err++
            } else {
                this.ketVal.kabupaten = ''
            }
            if(this.siswa.kecamatan == ''){
                this.ketVal.kecamatan = 'Kecamatan Tidak Boleh Kosong'
                this.err++
            } else {
                this.ketVal.kecamatan = ''
            }
            if(this.siswa.no_hp_siswa == ''){
                this.ketVal.no_hp_siswa = 'No HP Siswa Tidak Boleh Kosong'
                this.err++
            } else {
                this.ketVal.no_hp_siswa = ''
            }
            if(this.siswa.email_siswa == ''){
                this.ketVal.email_siswa = 'Email Siswa Tidak Boleh Kosong'
                this.err++
            } else {
                this.ketVal.email_siswa = ''
            }
            if(this.siswa.foto_kartu_siswa == null){
                this.ketVal.foto_kartu_siswa = 'Foto Kartu Siswa Tidak Boleh Kosong'
                this.err++
            } else {
                this.ketVal.foto_kartu_siswa = ''
            }
        },
        hanyaAngka(e) {
            let keyCode = (e.keyCode ? e.keyCode : e.which);
            if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) {
                e.preventDefault();
            }
        },
        submit(){
            this.validasiForm()

            if(this.err == 0){
                const fd = new FormData()
                fd.append('nis', this.siswa.nis)
                fd.append('nama_siswa', this.siswa.nama_siswa)
                fd.append('alamat_siswa', this.siswa.alamat_siswa)
                fd.append('id_provinsi', this.siswa.provinsi)
                fd.append('id_kabupaten', this.siswa.kabupaten)
                fd.append('id_kecamatan', this.siswa.kecamatan)
                fd.append('no_hp_siswa', this.siswa.no_hp_siswa)
                fd.append('email_siswa', this.siswa.email_siswa)
                fd.append('tgl_siswa_daftar', this.siswa.tgl_siswa_daftar)
    
                if(this.$route.name == 'daftar_siswa-edit-id'){
                    fd.append('foto_kartu_siswabaru', this.siswa.foto_kartu_siswa)
                    this.SimpanDataEdit.id_siswa = this.data.id_siswa
                    this.SimpanDataEdit.formData = fd
                    this.editDataSiswa(this.SimpanDataEdit)
                    .then(() => {
                        if(this.response.status == true){
                            swal({
                                position  : 'top-end',
                                type      : 'success',
                                title     : 'Success!',
                                text      : 'Berhasil Edit Data',
                                showConfirmButton: false,
                                timer: 1200
                            })
                        } else {
                            swal({
                                position  : 'top-end',
                                type      : 'warning',
                                title     : 'Gagal!',
                                text      : this.response.message,
                                showConfirmButton: false,
                                timer: 1200
                            })
                        }
                        this.$router.push({name: 'daftar_siswa'})
                    })
                } else {
                    fd.append('foto_kartu_siswa', this.siswa.foto_kartu_siswa)
                    this.storeSiswaData(fd)
                    .then(() => {
                        if(this.response.status == true){
                            swal({
                                position  : 'top-end',
                                type      : 'success',
                                title     : 'Success!',
                                text      : this.response.message,
                                showConfirmButton: false,
                                timer: 1200
                            })
                        } else {
                            swal({
                                position  : 'top-end',
                                type      : 'warning',
                                title     : 'Gagal!',
                                text      : this.response.message,
                                showConfirmButton: false,
                                timer: 1200
                            })
                        }
                        this.$router.push({name: 'daftar_siswa'})
                    })
                }
            } else {
                swal({
                    title: 'Gagal!',
                    text: 'Pastikan Semua Data Yang Dimasukkan Sudah Sesuai',
                    type: 'warning',
                    showCancelButton: false,
                    showConfirmButton: true,
                    confirmButtonColor: '#4da6ff',
                    confirmButtonText: 'OK',
                    closeOnConfirm: true,
                })
            }
        },
        cekGantiFoto(){
            if(this.showGantiFoto == 'none'){
                this.showGantiFoto = 'block'
            } else {
                this.showGantiFoto = 'none'
            }
        }
    }
}
</script>