<template>
    <div>
        <div class="row ml-4 mr-4">
            <div class="col-lg">
                <div class="form-group">
                    <label for="varchar">Nama Sampah</label>
                    <input v-model="jual.nama_sampah" type="text" class="form-control" placeholder="Nama Sampah"/>
                </div>
                <div class="form-group">
                    <label for="varchar">Deskripsi Sampah</label>
                    <input type="text"  v-model="jual.deskripsi_sampah" class="form-control" placeholder="Deskripsi Sampah"/>
                </div>
                <div class="form-group">
                    <label for="varchar">Pilih Jenis Sampah </label>
                    <select  v-model="jual.id_jenis_sampah" class="form-control">
                        <option value="">Pilih Jenis Sampah</option>
                        <option v-for="(row, index) in jeniss" :key="index" :value="row.id_jenis_sampah">
                            {{ row.nama_jenis_sampah }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="float">Total Berat</label>
                    <input  v-model="jual.total_berat" type="text" class="form-control" placeholder="Total Berat"/>
                </div>
                <div class="form-group">
                    <label for="float">Harga Minimal Jual</label>
                    <input  v-model="jual.harga_minimal_jual" type="text" class="form-control" placeholder="Harga Minimal Jual"/>
                </div>
                <div class="form-group">
                    <label for="float">Harga Jual</label>
                    <input  v-model="jual.harga_jual" type="text" class="form-control" onfocusout="hitung_sisa()" placeholder="Harga Jual"/>
                    <span style="color:red">*<i>Harga Jual Harus lebih besar dengan harga minimal</i></span>
                </div>
                <button class="btn btn-primary" style="width: 100px;" @click="submit">Simpan</button> 
                <nuxt-link :to="{name: 'penjualan_sampah'}" class="btn btn-secondary" style="width: 100px;">Batal</nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from "vuex"
export default {
    data() {
        return {
            jual:{
                 nama_sampah: '',
                deskripsi_sampah: '',
                id_jenis_sampah: '',
                total_berat: '',
                harga_minimal_jual: '',
                harga_jual: '',
            }
        }
    },
    computed: {
        ...mapState("jenis", {
            jeniss: state => state.jeniss
        })
    },
    methods: {
        ...mapActions('penjualan', ['storePenjualanData']),
        ...mapActions('jenis', ['getJenisData']),
        submit() {
            if(this.$route.name == 'penjualan_sampah-tambah'){
                this.storePenjualanData(this.jual).then(() => this.$router.push("/penjualan_sampah"))
            } else {
                console.log('Belum Ada Simpan Edit');
            }
        }
    },
    created() {
        this.getJenisData()
    }
}
</script>