<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">{{titleCard}}</div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0" style="">
                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table table-sm" border="0">
                                <tr>
                                    <td width="200px" class="font-weight-bold">Nama Nasabah</td>
                                    <td>{{siswa.nama_siswa}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Saldo Nasabah</td>
                                    <td>{{siswa.saldo_siswa}}</td>
                                </tr>
                                <tr><td></td><td></td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group input-group-sm">
                                <div class="input-group input-group-sm" style="width: 130px;" data-toggle="tooltip" title="Dari Tanggal">
                                    <input type="text" class="form-control" placeholder="yyyy/mm/dd">
                                    <span class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                    </span>
                                </div>&nbsp;
                                <div class="input-group input-group-sm" style="width: 130px;" data-toggle="tooltip" title="Sampai Tanggal">
                                    <input type="text" class="form-control" placeholder="yyyy/mm/dd">
                                    <span class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                    </span>
                                </div>&nbsp;
                                <button class="btn btn-success btn-sm" style="width: 70px;"><i class="fas fa-search"></i> Filter</button>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                        </div>
                        <div class="col-md-3 text-right">
                            <div class="input-group input-group-sm">
                                <input type="text" placeholder="Search" class="form-control">
                                <button class="btn btn-primary btn-sm" ><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <dir class="col-md-12">
                            <b-table :fields="kolom" :items="tabungan.data" head-variant="light" thead-class="text-center" show-empty responsive bordered hover striped small>
                                <template v-slot:cell(index)="row">
                                    {{row.index + 1}}
                                </template>
                            </b-table>
                        </dir>
                        <!-- <table class="table table-striped table-bordered table-sm" style="width:100%">
                            <tr>
                                <th style="width: 50; text-align: center;">No</th>
                                <th style="text-align: center;">Jenis Tabungan</th>
                                <th style="text-align: center;">Jumlah Tarik Saldo</th>
                                <th style="text-align: center;">Setoran Saldo</th>
                                <th style="text-align: center;">tanggal</th>
                            </tr>
                        </table> -->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Jumlah Record : {{tabungan.data.length}}</a>
                        </div>
                        <div class="col-md-6 text-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex'
import Header from '@/components/layouts/Header'
export default {
    async asyncData({store, params}) {
        await Promise.all([
            store.dispatch('siswa/getData', params.id),
            store.dispatch('siswa/getTabunganSiswa', params.id)
        ])
    },
    data() {
        return {
            title: 'Siswa',
            titleCard: 'Tabungan Siswa',
            kolom: [
                { key: 'index', label: 'No', tdClass: 'text-center'},
                { key: 'status_transaksi', label: 'Jenis Transaksi'},
                { key: 'jumlahtarik', label: 'Jumlah Tarik', tdClass: 'text-center'},
                { key: 'jumlahsetoran', label: 'Jumlah Setoran', tdClass: 'text-center'},
                { key: 'tanggal', tdClass: 'text-center'}]
        }
    },
    components: {
        'app-header': Header
    },
    computed: {
        ...mapState('siswa', {
            siswa: state => state.data,
            errors: state => state.errors,
            tabungan: state => state.tabungan
        })
    },
    created() {
    }
}
</script>