<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    {{ titleCard }}
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <div class="row mb-3">
                        <div class="col-md-9">
                            <nuxt-link :to="{name: 'penjualan_sampah-tambah'}" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i> Tambah Data</nuxt-link>
                        </div>
                        <div class="col-md-3 text-right">
                            <div class="input-group input-group-sm">
                                <input type="text" placeholder="Search" class="form-control">
                                <button class="btn btn-primary btn-sm" ><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <b-table :per-page="perPage" :current-page="currentPage" :items="penjualans" :fields="kolom" thead-class="text-center" head-variant="light" responsive show-empty striped hover small bordered>
                                <template v-slot:cell(index)="row">
                                    {{((currentPage*10)-10) + row.index + 1}}
                                </template>
                                <template v-slot:cell(aksi)="row">
                                    <div class="btn-group">
                                        <nuxt-link :to="{ name: 'penjualan_sampah-lihat-id', params: { id: row.item.id_penjualan_sekolah } }" :key="'lihat' + row.index" class="btn btn-info btn-sm" data-toogle title="Detail"><i class="fas fa-eye"></i></nuxt-link>
                                        <nuxt-link :to="{ name: 'penjualan_sampah-edit-id', params: { id: row.item.id_penjualan_sekolah } }" :key="'edit' + row.index" class="btn btn-success btn-sm" data-toogle title="Edit"><i class="fas fa-edit"></i></nuxt-link>
                                        <nuxt-link :to="{ name: 'penjualan_sampah-lihat-id', params: { id: row.item.id_penjualan_sekolah } }" :key="'hapus' + row.index" class="btn btn-danger btn-sm" data-toogle title="Delete"><i class="fas fa-trash"></i></nuxt-link>
                                    </div>
                                </template>
                                <template v-slot:cell(foto_jenis_sampah)="row">
                                    <img :src="row.item.foto_jenis_sampah" alt="Foto" style="max-width: 80px; max-height: 80px;">
                                </template>
                            </b-table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn btn-primary btn-sm">Jumlah Record : {{penjualans.length}}</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <!-- pagination -->
                            <b-pagination class="float-right btn-sm" v-model="currentPage" :total-rows="penjualans.length" :per-page="perPage"></b-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
import Header from '@/components/layouts/Header'
export default {
    async asyncData({ store }) {
        await Promise.all([
            store.dispatch("penjualan/getPenjualanData")
        ])
  },
    data() {
        return {
            title: 'Penjualan Sampah',
            titleCard: 'List Penjualan Sampah',
            kolom: [
                { key: 'index', label: 'No', tdClass: 'text-center', thStyle: 'width: 50px;'},
                { key: "tgl_penjualan", label: 'Tanggal'},
                "nama_sampah",
                { key: "deskripsi_sampah", label: 'Deskripsi'},
                { key: "nama_jenis_sampah", label: 'Jenis Sampah'},
                { key: 'harga_minimal_jual'},
                { key: 'harga_jual'},
                { key: 'foto_jenis_sampah', label: 'Foto'},
                "aksi"],
            currentPage: 1, 
            perPage: 10,
        }
    },
    components: {
        'app-header': Header
    },
    computed: {
        ...mapState("penjualan", {
            penjualans: state => state.penjualans
        }),
    },
    methods: {
        ...mapActions("penjualan", ["getPenjualanData"]),
    }

}
</script>