<template>

    <div class="jumbotron jumbotron-fluid" style="margin-bottom: 10px;">
        <div class="container"   align="center" style="min-height:100px;overflow: auto;">
        <div class="card" style="max-width: 400px; min-width: 300px;">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Masukkan email anda</p>
                <form action="" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-flat rounded" :class="'btn-'+warna">Kirim</button>
                    <div class="row mt-4">
                        <div style="width:45%;border-top: 1px solid rgba(0, 0, 0, 0.4)"></div>
                        <p class="text-center" style="width:10%; padding: 0px;margin-top: -14px">or</p>
                        <div style="width:45%;border-top: 1px solid rgba(0, 0, 0, 0.4)"></div>
                    </div>
                    <div class="mb-0">
                        <div class="row">
                            <div class="col-md">
                                <nuxt-link :to="{name: 'login'}" class="btn btn-success btn-block">Login</nuxt-link>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    layout: 'login_layout',
    auth:false,
    middleware: 'guest',
    data() {
        return {
            warna: 'info'
        }
    },
    head() {
        return {
            title: 'Lupa Password',
            bodyAttrs: {
                class: ["bg-"+this.warna]
            }
        }
    }
}
</script>