<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    {{ titleCard }}
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <div class="row mb-3">
                        <div class="col-md-9">
                            <div class="input-group input-group-sm">
                                <date-picker v-model="data.tglAwal" @change="cekTglAwal" lang="en" type="date" format="YYYY-MM-DD" :style="data.dateStyle" placeholder="Dari"></date-picker>&nbsp;
                                <date-picker v-model="data.tglAkhir" @change="cekTglAkhir" lang="en" type="date" format="YYYY-MM-DD" :style="data.dateStyle" placeholder="Sampai"></date-picker>&nbsp;
                                <button @click="filterSubmit" class="btn btn-success btn-sm" style="width: 40px;"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                        <div class="col-md-3 text-right">
                            <div class="input-group input-group-sm">
                                <input type="text" v-model="filter.cari" @keypress.enter="findlap_setoran" placeholder="Search" class="form-control">
                                <button class="btn btn-primary btn-sm" ><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <b-table id="my-table" :per-page="perPage" :current-page="currentPage" :items="lap_setorans" :fields="fields" head-variant="light" thead-class="text-center" show-empty responsive striped bordered hover small>
                            <template v-slot:cell(index)="row">
                              {{((currentPage*10)-10) + row.index + 1}}
                            </template>
                            <template v-slot:cell(aksi)="row">
                              <nuxt-link
                                :to="{ name: 'laporan_setoran-lihat-id', params: { id: row.item.id_setoran_siswa }}" :key="'lihat' + row.index" class="btn btn-info btn-sm" ><i class="fas fa-eye"></i></nuxt-link>
                            </template>
                            <template v-slot:cell(jumlah)><b>???</b></template>
                            <template v-slot:cell(total)><b>???</b></template>
                          </b-table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn btn-primary btn-sm">Jumlah Record : {{lap_setorans.length}}</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <b-pagination class="float-right" size="sm" v-model="currentPage" :total-rows="lap_setorans.length" :per-page="perPage" aria-controls="my-table"></b-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
import Header from '@/components/layouts/Header'
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'

export default {
//  async asyncData({ store }) {
//     await Promise.all([store.dispatch("lap_setoran/getlap_setoranData")]);
//     return;
//   },
 data() {
    return {
      fields: [
        { key: 'index', label: 'No', tdClass: 'text-center', thStyle: 'width: 50px;' },
        { key: 'id_setoran_siswa', label: 'Nota'},
        "nama_siswa",
        { key: 'jumlah', label: 'Jumlah'},
        { key: 'berat_setoran', label: 'Berat'},
        { key: 'total', label: 'Total Harga' },
        { key: 'id_status_setoran', label: 'Status'},
        { key: 'created_at', label: 'Tgl Transaksi'},
        { key: 'aksi', tdClass: 'text-center'}
      ],
      data: {
        tglAwal: '',
        tglAkhir: '',
        dateStyle: 'width: 150px;'
      },
      items: [],
      id_jenis_sampah:"",
      posts: [""],
      currentPage: 1, 
      perPage: 10,
      pages: [],
      filter:{
        cari:"",
        id_jenis_sampah:""
      },
      title: 'Laporan Setoran',
      titleCard: 'List Laporan Setoran',
    };
  },
  props: {
    selected: {
        type: Object,
        default: null
    }
},
  computed: {
    ...mapState("lap_setoran", {
      lap_setorans: state => state.lap_setorans
    }),
    ...mapState("jenis", {
      jeniss: state => state.jeniss
    }),
  },
   watch: {
      //KETIKA VALUE DARI STATE PAGE BERUBAH
      page() {
          //MAKA KITA REQUEST DATA BARU
         this.getLapSetData(this.filter);
         this.getJenisData();
      }
  },
  created() {
    this.getJenisData()
    this.getlap_setoranData()
  },
  methods: {
    ...mapActions("jenis", ["getJenisData"]),
    ...mapActions("lap_setoran", ["getlap_setoranData", "getlap_setoranData"]),
    ...mapMutations("lap_setoran", ["SET_PAGE"]),

    filter_setoran() {
      this.getlap_setoranData(this.filter);
    },
    findlap_setoran() {
      this.getlap_setoranData(this.filter);
    },
    cekTglAkhir() {
      if(this.data.tglAwal == '' || this.data.tglAwal == null) {
      } else {
        if(this.data.tglAkhir < this.data.tglAwal) {
          if(this.data.tglAkhir == null){
          } else {
            swal({
              position  : 'top-end',
              type      : 'warning',
              title     : 'pastikan tgl sesuai!',
              text      : 'Tgl akhir tidak boleh kurang dari tgl awal',
              showConfirmButton: false,
              timer: 1200
            })
            this.data.tglAkhir = this.data.tglAwal
          }
        }
      }
    },
    cekTglAwal() {
      if(this.data.tglAkhir == '' || this.data.tglAkhir == null){
      } else {
        if(this.data.tglAwal > this.data.tglAkhir) {
          swal({
            position  : 'top-end',
            type      : 'warning',
            title     : 'pastikan tgl sesuai!',
            text      : 'Tgl awal tidak boleh lebih dari tgl akhir',
            showConfirmButton: false,
            timer: 1200
          })
          this.data.tglAwal = this.data.tglAkhir
        }
      }
    },
    filterSubmit() {
      console.log(this.data.tglAwal)
      console.log(this.data.tglAkhir)
    }
  },
  components: {
      'app-header': Header,
      DatePicker
    }
};
    

</script>