<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    {{ titleCard }}
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <form action="<?php echo $action; ?>" method="post" id="formku">
                        <div class="col-lg-11 ml-5 mt-3 mb-3">
                            <div class="form-group">
                                <label for="int">Jenis Tarik Saldo<sup><span class="text-danger">*</span></sup></label>
                                <select class="form-control" v-model="data.id_jenis_tarik_saldo_offline">
                                    <option value="">Pilih Jenis Tarik Saldo</option>
                                    <option v-for="(row, index) in jenisTarik" :key="index" :value="row.id_jenis_tarik_saldo_offline">{{row.nama_jenis_tarik_saldo_offline}}</option>
                                </select>
                                <span :style="ketStyle" v-if="ketErr.errJenisTarik != ''">{{ketErr.errJenisTarik}}</span>
                            </div>
                            <div class="form-group">
                                <label>Siswa<sup><span class="text-danger">*</span></sup></label>
                                <select @change="CekSaldo" class="form-control" v-model="data.id_siswa">
                                    <option value="">Pilih Siswa</option>
                                    <option v-for="(row, index) in DataSiswa" :key="index" :value="row.id_siswa" >
                                        {{row.nis+' - '+row.nama_siswa}}
                                    </option>
                                </select>
                                <span :style="ketStyle" v-if="ketErr.errSiswa != ''">{{ketErr.errSiswa}}</span>
                            </div>
                            <div class="form-group">
                                <label >Saldo Aktif Siswa</label>
                                <div v-if="data.id_siswa == ''">
                                    <input readonly type="text" class="form-control" placeholder="Saldo Aktif Siswa"/>
                                </div>
                                <div v-else>
                                    <input readonly type="text" class="form-control" :class="cekKetJumlahTarik" placeholder="Saldo Aktif Siswa" :value="DetailSiswa.saldo_siswa"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Saldo Pending</label>
                                <input readonly type="text" class="form-control" placeholder="Saldo Pending Siswa"/>
                                <span style="color:red"><i>*Saldo Pending 90 Hari Setelah Melakukan Setoran offline</i></span>
                            </div>
                            <div class="form-group">
                                <label>Jumlah Tarik</label>
                                <div v-if="data.id_siswa != ''">
                                    <input type="text" @keypress="hanyaAngka" @keyup="cekSisaSaldo" v-model="data.jml_tarik" class="form-control" placeholder="0"/>
                                </div>
                                <div v-else>
                                    <input type="text" disabled @keypress="hanyaAngka" v-model="data.jml_tarik" class="form-control" placeholder="0"/>
                                </div>
                                <span style="color:red"><i>{{ketJumlahTarik}}</i></span>
                            </div>
                            <div class="form-group">
                                <label>Sisa Saldo</label>
                                <input readonly v-model="data.sisa_saldo" type="text" class="form-control" placeholder="Sisa Saldo"/>
                            </div>
                            <div v-if="showSubmit == true">
                                <button type="submit" @click.prevent="submit" class="btn btn-primary" >Tarik Saldo</button>
                                <nuxt-link :to="{name: 'tarik_saldo_siswa'}" class="btn btn-secondary" style="width: 100px;">Batal</nuxt-link>
                            </div>
                            <div v-else>
                                <button type="submit" disabled @click.prevent="submit" class="btn btn-primary" >Tarik Saldo</button>
                                <nuxt-link :to="{name: 'tarik_saldo_siswa'}" class="btn btn-secondary" style="width: 100px;">Batal</nuxt-link>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/layouts/Header'
import {mapActions, mapState} from 'vuex'
export default {
    data() {
        return {
            title: 'Tarik Saldo',
            titleCard: 'Tambah Tarik Saldo',
            data: {
                id_siswa: '',
                id_jenis_tarik_saldo_offline: '',
                jml_tarik: '',
                sisa_saldo: '0'
            },
            showSubmit: false,
            ketJumlahTarik: '',
            err: 0,
            ketErr: {
                errJenisTarik: '',
                errSiswa: ''
            },
            ketStyle: 'color:red; font-size: 14px;'
        }
    },
    components: {
        'app-header': Header
    },
    computed: {
        ...mapState('siswa', {
            DataSiswa: state => state.siswas,
            DetailSiswa: state => state.data
        }),
        ...mapState('tarik_saldo', {
            jenisTarik: state => state.s_jenisTarik,
            response: state => state.response
        }),
        cekKetJumlahTarik() {
            if(this.data.id_siswa != ''){
                if(this.DetailSiswa.saldo_siswa == null || this.DetailSiswa.saldo_siswa == '0') {
                    this.ketJumlahTarik = '*Saldo Masih Kosong'
                    this.showSubmit = false
                } else {
                    this.ketJumlahTarik = ''
                }
            } else {
                this.ketJumlahTarik = ''
            }
        }
    },
    methods: {
        ...mapActions('siswa', ["getSiswaData","getData"]),
        ...mapActions('tarik_saldo', ["getJenisTarikSaldo","storeTarikSaldo"]),
        CekSaldo() {
            if(this.data.id_siswa != ""){
                this.getData(this.data.id_siswa)
                this.data.sisa_saldo = 0
                this.data.jml_tarik = ''
            } else {
                this.data.id_siswa = ""
                this.ketJumlahTarik = ''
            }
        },
        hanyaAngka(e){
            let keyCode = (e.keyCode ? e.keyCode : e.which);
            if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) {
                e.preventDefault();
            }
        },
        cekSisaSaldo() {
            this.data.sisa_saldo = this.DetailSiswa.saldo_siswa - this.data.jml_tarik
            if(this.data.sisa_saldo < 0){
                this.ketJumlahTarik = '*Saldo Tidak Mencukupi'
                this.data.sisa_saldo = 0
                this.showSubmit = false
            } else {
                this.ketJumlahTarik = ''
            }

            if(this.data.jml_tarik == '' || this.data.jml_tarik == 0) {
                this.data.sisa_saldo = 0
            }

            if(this.data.id_siswa != ""){
                if(this.DetailSiswa.saldo_siswa == '0' || this.DetailSiswa.saldo_siswa == null) {
                    this.showSubmit = false
                } else {
                    if(this.data.jml_tarik > 0){
                        if(this.ketJumlahTarik == '*Saldo Tidak Mencukupi') {
                            this.showSubmit = false 
                        } else {
                            this.showSubmit = true
                        }
                    } else {
                        this.showSubmit = false
                    }
                }
            }
        },
        cekValidasi() {
            this.err = 0
            if(this.data.id_jenis_tarik_saldo_offline == ''){
                this.err++
                this.ketErr.errJenisTarik = 'Jenis Tarik Saldo Tidak Boleh Kosong'
            } else {
                this.ketErr.errJenisTarik = ''
            }
            if(this.data.id_siswa == ''){
                this.err++
                this.ketErr.errSiswa = 'Siswa Tidak Boleh Kosong'
            } else {
                this.ketErr.errSiswa = ''
            }
        },
        submit() {
            this.cekValidasi()
            if(this.err == 0){
                this.storeTarikSaldo(this.data).then(() => {
                    if(this.response.status == true){
                        swal({
                            position  : 'top-end',
                            type      : 'success',
                            title     : 'Success!',
                            text      : this.response.message,
                            showConfirmButton: false,
                            timer: 1200
                        })
                    } else {
                        swal({
                            position  : 'top-end',
                            type      : 'warning',
                            title     : 'Gagal!',
                            text      : this.response.message,
                            showConfirmButton: false,
                            timer: 1200
                        })
                    }
                    this.$router.push({name: 'tarik_saldo_siswa'})
                })
            } else {
                swal({
                    position  : 'top-end',
                    type      : 'warning',
                    title     : 'Gagal!',
                    text      : 'Pastikan semua data yang dimasukkan sesuai',
                    showConfirmButton: false,
                    timer: 1200
                })
            }
        }
    },
    created() {
        this.getSiswaData()
        this.getJenisTarikSaldo()
    }
}
</script>