<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">{{titleCard}}</div>
            </div>
            <div class="card-body">
                <app-form-siswa></app-form-siswa>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/layouts/Header'
import FormSiswa from '@/components/form/form_siswa'
import {mapActions, mapState} from 'vuex'
export default {
    async asyncData({store, params}) {
        await Promise.all([
            store.dispatch('siswa/getData', params.id)
        ])
    },
    data() {
        return {
            title: 'siswa',
            titleCard: 'Edit Data Siswa'
        }
    },
    components: {
        'app-form-siswa': FormSiswa,
        'app-header': Header
    }
}
</script>