<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    {{ titleCard }}
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <app-form-penjualan></app-form-penjualan>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapActions, mapState, mapMutations } from "vuex";
import Header from '@/components/layouts/Header'
import FormPenjualan from '@/components/form/form_penjualan'
export default {

    data() {
        return {
            title: 'Penjualan Sampah',
            titleCard: 'Tambah Penjualan Sampah'
        }
    },
    components: {
        'app-header': Header,
        'app-form-penjualan': FormPenjualan
    }
}
</script>