<template>
    <div>
        <Header :title="title"></Header>
        <div class="card card-primary">
            <div class="card-header">
            <div class="card-title">
                {{titleCard}}
            </div>
            </div>
            <div class="card-body">
                <div class="row" >
                    <div class="col-lg-7 pb-5">
                        <table class="table table-sm" border="0" style="margin-left: 20px; margin-top: 20px;"> 
                            <tr>
                                <td><i class="fas fa-user fa-sm"></i></td>
                                <td style="font-weight: bold; width: 220px;">Nama Penanggung Jawab</td>
                                <td >{{datas.nama_penanggungjawab}}</td>
                            </tr>
                            <tr>
                                <td width="10px"><i class="fas fa-map-marked-alt fa-sm"></i></td>
                                <td style="font-weight: bold;">Alamat Penanggung Jawab</td>
                                <td>{{datas.alamat_penanggungjawab}}</td> 
                            </tr>
                            <tr>
                                <td><i class="fas fa-mobile-alt fa-sm"></i></td>
                                <td style="font-weight: bold;">No HP Penanggung Jawab</td>
                                <td>{{datas.no_hp_penanggungjawab}}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-envelope fa-sm"></i></td>
                                <td style="font-weight: bold;">Email Penanggung Jawab </td>
                                <td>{{datas.email_penanggungjawab}}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-id-card fa-sm"></i></td>
                                <td style="font-weight: bold;">No KTP Penanggung Jawab </td>
                                <td>{{datas.no_ktp_penanggungjawab}}</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-5">
                        <center>
                            <i class="fas fa-images fa-sm"></i> <label>Foto KTP Penanggung Jawab</label><br>
                                <img v-if="datas.foto_ktp_penanggungjawab == ''" src="~/assets/image/profile_kosong.png" alt="Foto KTP Penanggung Jawab" style="width:250px;height:150px; margin-bottom: 5px;" >
                                <img v-else :src="datas.foto_ktp_penanggungjawab" alt="Foto KTP Penanggung Jawab" style="max-width:250px;max-height:150px; margin-bottom: 5px;" >
                            <br>
                            <i class="fas fa-images fa-sm"></i> <label>Selfie KTP Penanggung Jawab</label><br>
                                <img v-if="datas.selfie_ktp_penanggungjawab == ''" src="~/assets/image/profile_kosong.png" alt="Selfie KTP Penanggung Jawab" style="width:250px;height:150px; margin-bottom: 5px;" >
                                <img v-else :src="datas.selfie_ktp_penanggungjawab" alt="Selfie KTP Penanggung Jawab" style="max-width:250px;max-height:150px; margin-bottom: 5px;" >
                        </center>
                    </div>
                    <nuxt-link to="/profile" class="btn btn-primary btn-sm" style="width: 20%;margin-left: 20px;margin-bottom: 10px;">
                        <i class="fas fa-backward "></i> Kembali</nuxt-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import Header from '@/components/layouts/Header'
export default {
    data(){
        return{
            title: 'Profile Sekolah',
            titleCard: 'Detail Penanggung Jawab',
        }
    },
     computed: {
        ...mapState('profile', {
            datas: state => state.datas
        })
    },
    components: {
        'Header': Header
    },
    methods: {
        ...mapActions('profile', ["getPJData"])
    },
    created() {
        this.getPJData()
    }
}
</script>