<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">{{titleCard}}</div>
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-7 ml-2">
                            <div class="form-group">
                                <label for="varchar">Nama Sekolah</label>
                                <input type="text" class="form-control" placeholder="nama Sekolah" v-model="data.namaSekolah"/>
                            </div>
                            <div class="form-group">
                                <label for="varchar">Alamat Sekolah</label>
                                <input type="text" class="form-control" placeholder="alamat Sekolah" v-model="data.alamatSekolah"/>
                            </div>
                            <div class="form-group">
                                <label for="varchar">Email Sekolah</label>
                                <input type="email" disabled class="form-control" placeholder="email Sekolah" v-model="data.emailSekolah"/>
                            </div>
                            <div class="form-group">
                                <label for="varchar">No Telp Sekolah</label>
                                <input type="text"  class="form-control" maxlength="13" minlength="10" placeholder="no telp Sekolah" v-model="data.noTelpSekolah"/>
                            </div>
                            <button class="btn btn-primary btn-sm mb-2" @click.prevent="cekUbahPass">
                                <font style="color: white;">
                                    <i class="fas fa-key"> </i>
                                    Ubah Password
                                </font>
                            </button><br>
                            <div :style="UbahShow">
                                <div class="form-group">
                                    <label>Password Lama <span style="color:red">*</span></label>
                                    <input type="Password" class="form-control" placeholder="Password Lama" v-model="data.passwordLama"/>
                                </div>
                                <div class="form-group">
                                    <label>Password Baru <span style="color:red">*</span></label>
                                    <input type="Password" class="form-control" placeholder="Password Baru" v-model="data.passwordBaru"/>
                                </div>
                                <div class="form-group">
                                    <label>Konfirmasi Password Baru <span style="color:red">*</span></label>
                                    <input type="Password" class="form-control" placeholder="Konfirmasi Password Baru" v-model="data.konfirmPassword"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ml-5">
                            <div class="form-group">
                                <center><label>Logo Sekolah</label></center>
                                <center>
                                    <div v-if="s_data.logo_sekolah != '' || s_data.logo_sekolah != null">
                                        <img :src="s_data.logo_sekolah" class="brand-image img-circle elevation-3" style="width: 172px;height: 172px;">
                                    </div>
                                    <div v-else>
                                        <img src="~/assets/image/logo/kompis_blue.png" class="brand-image img-circle elevation-3" style="width: 172px;height: 172px;">
                                    </div>
                                <button @click.prevent="cekGantiLogo" class="mt-3 btn btn-secondary btn-sm"><i class="fas fa-image"></i> Ganti Logo</button>
                                </center>
                                <div :style="'display: '+GantiGambarShow+';'">
                                    <label class="mt-2">Ganti Logo Sekolah</label>
                                    <input @change="onSelectedFile" type="file" class="form-control" accept=".png, .jpg"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 ml-2">
                            <button class="btn btn-primary" style="width: 100px;" @click.prevent="submit">Simpan</button>&emsp;
                            <nuxt-link :to="{name: 'profile'}" class="btn btn-secondary" style="width: 100px;">Kembali</nuxt-link>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/layouts/Header'
import {mapState, mapMutations, mapActions} from 'vuex'
export default {
    data() {
        return {
            title: 'Profile Sekolah',
            titleCard: 'Edit Akun Sekolah',
            UbahShow: 'display: none;',
            GantiGambarShow: 'none',
            data: {
                namaSekolah: '',
                alamatSekolah: '',
                noTelpSekolah: '',
                emailSekolah: '',
                passwordLama: '',
                passwordBaru: '',
                konfirmPassword: '',
                logoSekolah: null
            }
        }
    },
    components: {
        'app-header': Header
    },
    computed: {
        ...mapState('profile', {
            s_data: state => state.datas,
            response: state => state.response
        })
    },
    methods: {
        ...mapActions('profile', ["getProfileData","simpanEditAkun"]),
        cekUbahPass() {
            if(this.UbahShow == 'display: block;') {
                this.UbahShow = 'display: none;'
                this.data.passwordBaru = ''
                this.data.passwordLama = ''
                this.data.konfirmPassword = ''
            } else {
                this.UbahShow = 'display: block;'
            }
        },
        cekGantiLogo() {
            if(this.GantiGambarShow == 'none'){
                this.GantiGambarShow = 'block'
            } else {
                this.GantiGambarShow = 'none'
                this.data.logoSekolah = null
            }
        },
        onSelectedFile(event) {
            this.data.logoSekolah = event.target.files[0]
        },
        submit() { 
            const fd = new FormData()
            fd.append('logo_sekolah', this.data.logoSekolah)
            fd.append('nama_sekolah', this.data.namaSekolah)
            fd.append('nomor_tlp_sekolah', this.data.noTelpSekolah)
            fd.append('alamat_sekolah', this.data.alamatSekolah)
            fd.append('password', this.data.passwordLama)
            fd.append('password_baru', this.data.passwordBaru)
            fd.append('konfirm_password_baru', this.data.konfirmPassword)

            this.simpanEditAkun(fd)
            .then(() => {
                if(this.response.status == true){
                    swal({
                        position  : 'top-end',
                        type      : 'success',
                        title     : 'Success!',
                        text      : this.response.message,
                        showConfirmButton: false,
                        timer: 1200
                    })
                } else {
                    swal({
                        position  : 'top-end',
                        type      : 'warning',
                        title     : 'Gagal!',
                        text      : this.response.message,
                        showConfirmButton: false,
                        timer: 1200
                    })
                }
                this.$router.push({name: 'profile'})
            })
        }
    },
    created() {
        this.getProfileData().then(() => {
            this.data.namaSekolah = this.s_data.nama_sekolah
            this.data.alamatSekolah = this.s_data.alamat_sekolah
            this.data.emailSekolah = this.s_data.email_sekolah
            this.data.noTelpSekolah = this.s_data.nomor_tlp_sekolah
        })
    }
}
</script>