<template>
<div>
    <Header :title="title"></Header>
    <div class="card card-primary">
      <div class="card-header">
        <div class="card-title">
        </div>
      </div>
      <div class="card-body">
        <div class="container" style="overflow:auto">
            <div class="row" >
                <div class="col-lg-6 pb-0">
                    <table border="0" class="" style="margin-left: 20px; margin-top: 20px;">
                        <tr>
                            <td rowspan="2" width="100px">
                                <div v-if="datas.logo_sekolah == '' || datas.logo_sekolah == null">
                                    <img src="/_nuxt/assets/image/logo/kompis_blue.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="width: 100px; height: 100px;">
                                </div>
                                <div>
                                    <img :src="datas.logo_sekolah" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="width: 100px; height: 100px;">
                                </div>
                            </td>
                            <td>&emsp;</td>
                        </tr>
                        <!-- {{data.nama_sekolah}} -->
                        <tr><td><h2><b>{{datas.nama_sekolah}}</b></h2></td>
                        </tr>
                    </table>
                    <div class="col-md-4 text-center">
                    </div>
                    <table class="table  table-sm" border="0" style="margin-left: 20px; margin-top: 20px;"> 
                        <tr>
                            <td><i class="fas fa-star fa-sm"></i></td>
                            <td><b>Status Bank Sampah</b></td>
                            <td >
                                {{datas.ket_status_bank_sampah}}
                            </td>
                        </tr>
                            <tr v-if="data.reason != '' ">
                                <td width="10px"><i class="fas fa-info-circle fa-sm"></i></td>
                                <td width="220px">Keterangan</td>
                                <td><span class="badge badge-danger">{{datas.reason}}</span></td>
                            </tr>
                            <tr v-else></tr>
                        <tr>
                            <td width="10px"><i class="fas fa-envelope fa-sm"></i></td>
                            <td width="220px">Email</td>
                            <td>{{datas.email_sekolah}}</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-mobile-alt fa-sm"></i></td>
                            <td>No Hp</td>
                            <td>{{datas.nomor_tlp_sekolah}}</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-map-marker-alt fa-sm"></i></td>
                            <td>Alamat </td>
                            <td>{{datas.alamat_sekolah}}</td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                    </table>
                    <center>
                        <nuxt-link :to="{name: 'profile-edit_akun'}" class="btn btn-primary btn-sm" style="width: 30%;margin-left: 10%;margin-right: 5%"><i class="fas fa-edit "></i> Ubah Akun</nuxt-link>
                        <nuxt-link :to="{name: 'profile-upload_berkas'}" class="btn btn-primary btn-sm" style="width: 30%;margin-left: 10%;margin-right: 5%"><i class="fas fa-upload "></i> Upload Berkas</nuxt-link>
                    </center>
                    <table class="table table-sm" border="0" style="margin-left: 20px; margin-top: 20px;"> 
                        <tr>
                            <td colspan="3">
                                <center><h3 class="m-0 text-dark"><small>Slogan</small></h3></center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    {{datas.slogan_sekolah}}
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-5 ml-4">
                    <table class="table table-sm" border="0" style="margin-left: 20px; margin-top: 20px;"> 
                        <tr>
                            <td colspan="3">
                                <center><h3 class="m-0 text-dark"><small>Detail User</small></h3></center>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-calendar-alt fa-sm"></i></td>
                            <td>Tanggal Berdiri</td>
                            <td>
                                {{datas.tanggal_berdiri_sekolah}}     
                            </td>
                        </tr>
                        
                        <tr>
                            <td><i class="fas fa-globe-asia fa-sm"></i></td>
                            <td>Website</td>
                            <td>
                                {{datas.website_sekolah}}     
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-money-bill fa-sm"></i></td>
                            <td>Saldo Bank Sampah</td>
                            <td>
                                {{ datas.saldo_sekolah }}
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-coins fa-sm"></i></td>
                            <td>Point Bank Sampah</td>
                            <td>
                                 {{datas.point_sekolah}}
                             </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-user-clock fa-sm"></i></td>
                            <td>Last Login</td>
                            <td>{{datas.last_login}}</td> 
                        </tr>
                        <tr>
                            <td colspan="3">
                                <center>
                                    <nuxt-link to="/profile/update_profile" class="btn btn-primary btn-sm" style="width: 100%;margin-left: 5%; float: right;">
                                        <i class="fas fa-edit "></i> Ubah Profile
                                    </nuxt-link>
                                </center>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-sm" border="0" style="margin-left: 20px; margin-top: 20px;"> 
                        <tr>
                            <td><i class="fas fa-user-circle fa-sm"></i></td>
                            <td>Nama Penanggung Jawab</td>
                            <td>
                                {{datas.nama_penanggungjawab}} 
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-mobile fa-sm"></i></td>
                            <td>No Hp Penanggung Jawab</td>
                            <td>
                                {{datas.no_hp_penanggungjawab}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <center>
                                    <nuxt-link to="/profile/detail_pj" class="btn btn-primary btn-sm" style="width: 100%;margin-left: 5%; float: right;">
                                        <i class="fas fa-info-circle "></i> Detail penanggung jawab
                                    </nuxt-link>
                                </center>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import Header from '@/components/layouts/Header'

export default {
    data(){
        return{
            title: 'Profile Sekolah',
            data: {
                gambar: '',
                nama_sekolah: 'SMK N 300',
                status_sekolah: 'Sudah Verifikasi',
                reason: '',
                email: 'Email@profile.com',
                no_hp: '123456',
                alamat: 'Omahe Dewe',
                slogan: 'Haloo', 
                tgl_berdiri: '00-00-0000', 
                website: 'halo.com', 
                saldo: 1000, 
                point: 10, 
                last_login: '00-00-0000', 
                nama_penanggung_jawab: 'Namaku', 
                no_hp_penanggung_jawab: '1234567'
            }
        }
    },
    computed: {
        ...mapState('profile', {
            datas: state => state.datas,
        })
    },
    components: {
        Header
    },
    methods: {
        ...mapActions('profile', ["getProfileData"])
    },
    created() {
        this.getProfileData()
    }
}
</script>