<template>
    <div>
        <Header :title="title"></Header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    {{titleCard}}
                </div>
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="row ml-2 mr-2">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="datetime">Tanggal Berdiri Sekolah</label>
                                <input type="text" v-model="data.tanggal_berdiri_sekolah" class="form-control  date-start" placeholder="Tanggal Berdiri Sekolah" />
                            </div>
                            <div class="form-group">
                                <label for="varchar">Slogan Sekolah </label>
                                <input type="text" v-model="data.slogan_sekolah" class="form-control" placeholder="Slogan Sekolah"/>
                            </div>
                            <div class="form-group">
                                <label for="varchar">Website Sekolah</label>
                                <input type="text" v-model="data.website_sekolah" class="form-control" placeholder="Website Sekolah"/>
                            </div>
                            <div class="form-group">
                                <label for="varchar">Nama Penanggung Jawab</label>
                                <input type="text" v-model="data.nama_penanggungjawab" class="form-control" placeholder="Nama Penanggung Jawab"/>
                            </div>
                            <div class="form-group">
                                <label for="varchar">Alamat Penanggung Jawab</label>
                                <input type="text" v-model="data.alamat_penanggungjawab" class="form-control" placeholder="Alamat Penanggung Jawab"/>
                            </div>
                            <div class="form-group">
                                <label for="varchar">No HP Penanggung Jawab</label>
                                <input type="text" v-model="data.no_hp_penanggungjawab" maxlength="13" class="form-control" placeholder="no hp penanggung jawab"/>
                            </div>
                            <div class="form-group">
                                <label for="varchar">Email Penanggung Jawab</label>
                                <input type="text" v-model="data.email_penanggungjawab" class="form-control" placeholder="email penanggung jawab"/>
                            </div>
                            <div class="form-group">
                                <label for="varchar">No KTP Penanggung Jawab</label>
                                <input type="text" maxlength="16"  v-model="data.no_ktp_penanggungjawab" class="form-control" placeholder="no ktp penanggung jawab"/>
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label for="varchar">Foto KTP Penanggung Jawab</label>
                                <center>
                                    <div v-if="datas.foto_ktp_penanggungjawab == null || datas.foto_ktp_penanggungjawab == ''">
                                        <img src="~/assets/image/profile_kosong.png" alt="" style="width:250px;height:150px;"><br>
                                    </div>
                                    <div v-else>
                                        <img :src="datas.foto_ktp_penanggungjawab" alt="" style="max-width:250px; max-height:150px;"><br>
                                    </div>
                                    <button @click.prevent="cekGantiFotoKTP" class="btn btn-secondary btn-sm mt-2"><i class="fas fa-image"></i> Ganti Gambar</button>
                                </center>
                                <input type="file" @change="onSelectedFotoKTP" class="form-control mt-2" accept=".png, .jpg, .jpeg" :style="'display: '+showGantiFotoKTP+';'"/>
                            </div>
                            <div class="form-group">
                                <label>Selfie KTP Penanggung Jawab </label>
                                <center>
                                    <div v-if="datas.selfie_ktp_penanggungjawab == null || datas.selfie_ktp_penanggungjawab == ''">
                                        <img src="~/assets/image/profile_kosong.png" alt="" style="width:250px;height:150px;"><br>
                                    </div>
                                    <div v-else>
                                        <img :src="datas.selfie_ktp_penanggungjawab" alt="" style="max-width:250px; max-height:150px;"><br>
                                    </div>
                                    <button @click.prevent="cekGantiFotoSelfie" class="btn btn-secondary btn-sm mt-2"><i class="fas fa-image"></i> Ganti Gambar</button>
                                </center>
                                <input type="file" @change="onSelectedFotoSelfie" class="form-control mt-2" accept=".png, .jpg, .jpeg" :style="'display: '+showGantiFotoSelfie+';'"/>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-2 mr-2">
                        <button type="submit" @click.prevent="submit" class="btn btn-primary" style="width: 100px;">Simpan</button>&nbsp;
                        <nuxt-link to="/profile" class="btn btn-secondary" style="width: 100px;">Batal</nuxt-link>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import Header from '@/components/layouts/Header'
export default {
    data() {
        return{
            title: 'Profile Sekolah',
            titleCard: 'Update Profile Sekolah',
            data: {
                tanggal_berdiri_sekolah: '',
                slogan_sekolah: '',
                website_sekolah: '',
                nama_penanggungjawab: '',
                alamat_penanggungjawab: '',
                no_hp_penanggungjawab: '',
                email_penanggungjawab: '',
                no_ktp_penanggungjawab: '',
                foto_ktp_penanggungjawab: null,
                selfie_ktp_penanggungjawab: null
            },
            showGantiFotoKTP: 'none',
            showGantiFotoSelfie: 'none'
        }
    },
    computed: {
        ...mapState('profile', {
            datas: state => state.datas,
            response: state => state.response
        })
    },
    components: {
        Header
    },
    created() {
        this.getProfilEditData().then(() => {
            this.data.tanggal_berdiri_sekolah = this.datas.tanggal_berdiri_sekolah
            this.data.slogan_sekolah = this.datas.slogan_sekolah
            this.data.website_sekolah = this.datas.website_sekolah
            this.data.nama_penanggungjawab = this.datas.nama_penanggungjawab
            this.data.no_hp_penanggungjawab = this.datas.no_hp_penanggungjawab
            this.data.email_penanggungjawab = this.datas.email_penanggungjawab
            this.data.no_ktp_penanggungjawab = this.datas.no_ktp_penanggungjawab
            this.data.alamat_penanggungjawab = this.datas.alamat_penanggungjawab
        })
    },
    methods: {
        ...mapActions('profile', ["simpanEditProfile", "getProfilEditData"]),
        submit() {
            const fd = new FormData()
            fd.append('tanggal_berdiri_sekolah', this.data.tanggal_berdiri_sekolah)
            fd.append('slogan_sekolah', this.data.slogan_sekolah)
            fd.append('website_sekolah', this.data.website_sekolah)
            fd.append('nama_penanggungjawab', this.data.nama_penanggungjawab)
            fd.append('alamat_penanggungjawab', this.data.alamat_penanggungjawab)
            fd.append('no_hp_penanggungjawab', this.data.no_hp_penanggungjawab)
            fd.append('email_penanggungjawab', this.data.email_penanggungjawab)
            fd.append('no_ktp_penanggungjawab', this.data.no_ktp_penanggungjawab)
            fd.append('foto_ktp_penanggungjawabbaru', this.data.foto_ktp_penanggungjawab)
            fd.append('selfie_ktp_penanggungjawabbaru', this.data.selfie_ktp_penanggungjawab)

            this.simpanEditProfile(fd).then(() => {
                if(this.response.status == true){
                    swal({
                        position  : 'top-end',
                        type      : 'success',
                        title     : 'Success!',
                        text      : this.response.message,
                        showConfirmButton: false,
                        timer: 1200
                    })
                } else {
                    swal({
                        position  : 'top-end',
                        type      : 'warning',
                        title     : 'Gagal!',
                        text      : this.response.message,
                        showConfirmButton: false,
                        timer: 1200
                    })
                }
                this.$router.push({name: 'profile'})
            })
        },
        cekGantiFotoKTP() {
            if(this.showGantiFotoKTP == 'none'){
                this.showGantiFotoKTP = 'block'
            } else {
                this.showGantiFotoKTP = 'none'
                this.data.foto_ktp_penanggungjawab = null
            }
        },
        cekGantiFotoSelfie() {
            if(this.showGantiFotoSelfie == 'none'){
                this.showGantiFotoSelfie = 'block'
            } else {
                this.showGantiFotoSelfie = 'none'
                this.data.selfie_ktp_penanggungjawab = null
            }
        },
        onSelectedFotoKTP(event) {
            this.data.foto_ktp_penanggungjawab = event.target.files[0]
        },
        onSelectedFotoSelfie(event) {
            this.data.selfie_ktp_penanggungjawab = event.target.files[0]
        }
    }
}
</script>