<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">{{titleCard}}</div>
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="row ml-4 mr-4">
                        <div class="col-lg-6 ">
                            <div class="form-group">
                                <label>Foto Bangunan Sekolah</label>
                                <div v-if="s_data.foto_bangunan_sekolah == ''">
                                    <input type="file" class="form-control" accept=".png, .jpg, .jpeg">
                                </div>
                                <div v-else>
                                    <div class="row justify-content-center">
                                        <img :src="s_data.foto_bangunan_sekolah" alt="Foto Bangunan Sekolah" style="max-width: 300px; max-height: 150px;">
                                    </div>
                                    <div class="row justify-content-center mt-2">
                                        <button class="btn btn-secondary btn-sm" @click.prevent="cekGantiFotoBangunan">Ganti Foto Bangunan</button>
                                        <input type="file" @change="onFotoBangunanBaruSelectedItem" class="form-control mt-2" accept=".png, .jpg, .jpeg" :style="showGantiFotoBangunan">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <center>
                                    <label>SK Sekolah</label>
                                    <div v-if="s_data.sk_sekolah == ''">
                                        <input type="file" class="form-control" name="sk_sekolah" accept=".jpg, .jpeg, .pdf">
                                    </div>
                                    <div v-else>
                                        <div class="row justify-content-center">
                                            <img :src="s_data.sk_sekolah" alt="SK Sekolah" style="max-width: 300px; max-height: 150px;">
                                        </div>
                                        <div class="row justify-content-center">
                                            <button class="btn btn-secondary btn-sm" @click.prevent="cekGantiSK">Ganti Foto Bangunan</button>
                                            <input type="file" @change="onSKSekolahSelectedItem" class="form-control mt-2" accept=".png, .jpg, .jpeg" :style="showGantiSK">
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary mr-1" style="width: 100px;" @click.prevent="submit">Simpan</button>
                        <nuxt-link :to="{name: 'profile'}" class="btn btn-secondary" style="width: 100px;">Batal</nuxt-link>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/layouts/Header'
import { mapState, mapActions, mapMutations} from 'vuex'
export default {
    data() {
        return {
            title: 'Profile Sekolah',
            titleCard: 'Upload Berkas',
            showGantiFotoBangunan: 'display: none;',
            showGantiSK: 'display: none;',
            dataB: {
                fotoBangunanBaru: null,
                SKBaru: null
            }
        }
    },
    components: {
        'app-header': Header
    },
    computed: {
        ...mapState('profile', {
            s_data: state => state.datas,
            response: state => state.response
        })
    },
    methods: {
        ...mapActions('profile', ["getProfileData","storeBerkasData"]),
        submit() {
            const fd = new FormData()
            fd.append('foto_bangunan_sekolahbaru', this.dataB.fotoBangunanBaru)
            fd.append('sk_sekolah', this.dataB.SKBaru)
            this.storeBerkasData(this.fd).then(() => {
                if(this.response.status == true){
                    swal({
                        position  : 'top-end',
                        type      : 'success',
                        title     : 'Success!',
                        text      : this.response.message,
                        showConfirmButton: false,
                        timer: 1200
                    })
                } else {
                    swal({
                        position  : 'top-end',
                        type      : 'warning',
                        title     : 'Gagal!',
                        text      : this.response.message,
                        showConfirmButton: false,
                        timer: 1200
                    })
                }
                this.$router.push({name: 'profile'})
            })
        },
        cekGantiFotoBangunan() {
            if(this.showGantiFotoBangunan == 'display: none;'){
                this.showGantiFotoBangunan = 'display: block;'
            } else {
                this.showGantiFotoBangunan = 'display: none;'
                this.dataB.fotoBangunanBaru = null
            }
        },
        cekGantiSK() {
            if(this.showGantiSK == 'display: none;'){
                this.showGantiSK = 'display: block;'
            } else {
                this.showGantiSK = 'display: none;'
                this.dataB.SKBaru = null
            }
        },
        onFotoBangunanBaruSelectedItem(event) {
            this.dataB.fotoBangunanBaru = event.target.files[0]
        },
        onSKSekolahSelectedItem(event) {
            this.dataB.SKBaru = event.target.files[0]
        },
    },
    created() {
        this.getProfileData()
    }
}
</script>