<template>
  <div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <div class="content-wrapper">
      <section class="content">
        <div class="container-fluid">
          <nuxt />
        </div>
      </section>
    </div>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Sidebar from '@/components/layouts/Sidebar'
import Navbar from '@/components/layouts/Navbar'
import Footer from '@/components/layouts/Footer'
export default{
    components: {
      'app-sidebar'     : Sidebar,
      'app-navbar'      : Navbar,
      'app-footer'      : Footer
    },
    head() {
      return {
        bodyAttrs: {
          class: ['hold-transition', 'sidebar-mini', 'layout-fixed']
        }
      }
    }
}
</script>