<template>
    <div>
        <app-header-login></app-header-login>
          <nuxt/>
        <app-footer-login></app-footer-login>
    </div>
</template>

<script>
import Login_header from '@/components/layouts/Login_header.vue'
import Login_footer from '@/components/layouts/Login_footer.vue'
export default {
    components: {
        'app-header-login': Login_header,
        'app-footer-login': Login_footer
    }
}
</script>