<template>
    <div>
        <Header :title="title"></Header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    {{ titleCard }}
                </div>
            </div>
            <div class="card-body">
                <app-form-siswa></app-form-siswa>
                
            </div>
        </div>
    </div>
</template>

<script>

import Header from '@/components/layouts/Header'
import FormSiswa from '@/components/form/form_siswa'
export default {
      async asyncData({store}) {
        await Promise.all([
            store.dispatch('siswa/getProvinsiData')
        ])
        return
    },
    data(){
        return {
            title: 'Siswa',
            titleCard: 'Tambah Data Siswa',
        }
    },
    components: {
       
        Header,
        'app-form-siswa': FormSiswa
    }
}
</script>