<template>
  <div class="col-lg-4">
    <div class="small-box" :class="data.warna">
      <div class="inner">
        <h3>{{cek}}<sup style="font-size: 20px"> {{data.satuan}}</sup></h3>
        <p>{{data.nama}}</p>
      </div>
      <div class="icon">
        <i class="nav-icon fas" :class="data.simbol"></i>
      </div>
      <nuxt-link :to="data.ke" class="small-box-footer">Selengkapnya <i class="fas fa-arrow-circle-right"></i></nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
    props:['data','cek']
}
</script>