<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">{{titleCard}}</div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <table class="tabke table-bordered table-stripped mb-4 w-100">
                        <tr>
                            <td class="p-2 font-weight-bold">Nota</td>
                            <td class="p-2"></td>
                        </tr>
                        <tr>
                            <td class="p-2 font-weight-bold">Status transaksi</td>
                            <td class="p-2"></td>  
                        </tr>
                    </table>
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-md">
                            <div class="btn-group btn-group-sm">
                                <nuxt-link :to="{name: 'laporan_setoran'}" class="btn btn-primary btn-sm">Tambah</nuxt-link>
                                <nuxt-link :to="{name: 'laporan_setoran'}" class="btn btn-danger btn-sm">Akhiri Transaksi</nuxt-link>
                            </div>
                        </div>
                        <div class="col-md text-right">
                            <form action="" class="form-inline float-right" method="get">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <b-table :fields="kolom" thead-class="text-center" head-variant="light" responsive show-empty bordered small hover striped>
                    </b-table>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn btn-primary btn-sm">Jumlah Record : 0</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <!-- pagination -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/layouts/Header'
export default {
    async asyncData({store, params}) {
        await Promise.all([
           
        ]) 
    },
    data() {
        return {
            title: 'Laporan Setoran',
            titleCard: 'Detail Laporan Setoran',
            kolom: [
                { key: 'index', label: 'No', tdClass: 'text-center', thStyle: 'width: 50px;'},
                { key: 'sampah'},
                { key: 'merk'},
                { key: 'harga'},
                { key: 'berat'},
                { key: 'total'},
                { key: 'aksi'}]
        }
    },
    components: {
        'app-header': Header
    }
}
</script>