<template>
    <div>
        <Header :title="title"></Header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="callout callout-info" style="overflow: auto;">
                    <h5><i class="fas fa-info"></i> Rating Pengepul :</h5>
                    <font size="6"><b>{{ratingPengepul}}</b></font>&nbsp;
                        <font v-for="nil in ratingPengepul" :key="nil">
                            <span class="fa fa-star checked"></span>
                        </font>
                        <nuxt-link to="/dashboard/rating_pengepul">
                            <button class="float-right btn btn-primary btn-sm">
                                Lihat Selengkapnya <i class="fas fa-arrow-circle-right"></i>
                            </button>
                        </nuxt-link>
                    </div>
                </div>
            </div>
            <div class="row">
                <Smallbox :data="DataSmallboxTotalSaldoSiswa" :cek="datas.total_tabungan"></Smallbox>
                <Smallbox :data="DataSmallboxTotalBeratSampah" :cek="datas.total_sampah"></Smallbox>
                <Smallbox :data="DataSmallboxTotalSiswa" :cek="datas.total_siswa"></Smallbox>
            </div>
            <center class="">
                <div class="btn-group mb-2" data-toggle="tooltip" title="Lihat Berdasarkan Tahun" style="width: 100%">
                    <a href="#" class="btn btn-secondary">2016</a>&nbsp;
                    <a href="#" class="btn btn-secondary">2017</a>&nbsp;
                    <a href="#" class="btn btn-secondary">2018</a>&nbsp;
                    <a href="#" class="btn btn-secondary">2019</a>&nbsp;
                    <a href="#" class="btn btn-primary">2020</a>&nbsp;
                </div>
            </center>
            <div class="card card-danger">
                <div class="card-header">
                    <div class="card-title">Kategori Sampah Dan Statistik Siswa</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <label>Kategori Sampah</label>
                            <apexchart type="pie" width="380" :options="chartOptions" :series="series"></apexchart>
                        </div>
                        <div class="col-md-6 text-center">
                            <b-table :fields="kolom" small hover bordered responsive striped show-empty></b-table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-success">
                <div class="card-header">
                    <div class="card-title">Tabungan Siswa</div>
                </div>
                <div class="card-body">
                    <apexchart type="line" height="370" :options="chartOptions2" :series="series2"></apexchart>
                </div>
            </div>
            <div class="card card-primary">
                <div class="card-header">
                    <div class="card-title">Penjualan Sampah</div>
                </div>
                <div class="card-body">
                    <apexchart type="line" height="370" :options="chartOptions3" :series="series3"></apexchart>
                </div>
            </div>
            
        </div>

    </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import Header from '@/components/layouts/Header'
import smallboxComp from '@/components/custom/smallboxComp'

export default {
    data(){
        return{
            title: 'Dashboard',
            ratingPengepul: 4,
            DataSmallboxTotalSaldoSiswa: {
                nama: 'Total Saldo Siswa',
                ke: '/setoran',
                nilai: '',
                warna: 'bg-info',
                simbol: 'fa-money-bill',
                satuan: 'Koin'},
            DataSmallboxTotalBeratSampah: {
                nama: 'Total Berat Sampah',
                ke: '/siswa',
                nilai: '',
                warna: 'bg-success',
                simbol: 'fa-weight',
                satuan: 'Kg'},
            DataSmallboxTotalSiswa: {
                nama: 'Total Siswa',
                ke: '/siswa',
                nilai: '',
                warna: 'bg-warning',
                simbol: 'fa-users',
                satuan: 'Orang'
            },
            kolom: [
                { key: 'index', label: 'No'},
                { key: 'penabung_sampah_terbanyak', label: 'Penabung Sampah Terbanyak'},
                { key: 'jumlah_pemilik_saldo_terbanyak', label: 'Pemilik Saldo Terbanyak'}],
            series: [44, 55, 13, 43, 22],
            chartOptions: {
                chart: {
                    width: 380,
                    type: 'pie',
                },
                labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'],
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                        width: 200
                        },
                        legend: {
                        position: 'bottom',
                        text: 'haloo'
                        }
                    }
                }]
            },
            series2: [
                {
                    name: "Setoran Siswa",
                    data: [28, 29, 33, 36, 32, 32, 33]
                },
                {
                    name: "Tarik Saldo Siswa",
                    data: [12, 34, 14, 18, 17, 13, 13]
                }
            ],
            chartOptions2: {
                chart: {
                    height: 350,
                    type: 'line',
                    dropShadow: {
                        enabled: true,
                        color: '#000',
                        top: 18,
                        left: 7,
                        blur: 10,
                        opacity: 0.2
                    },
                    toolbar: {
                        show: false
                    }
                },
                colors: ['#77B6EA', '#545454'],
                dataLabels: {
                    enabled: true,
                },
                stroke: {
                    curve: 'smooth'
                },
                title: {
                    text: 'Statistik Tabungan Siswa / Tahun',
                    align: 'left'
                },
                grid: {
                    borderColor: '#e7e7e7',
                        row: {
                            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                            opacity: 0.5
                        },
                },
                markers: {
                    size: 1
                },
                xaxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'],
                    title: {
                        text: 'Bulan'
                    }
                },
                yaxis: {
                    title: {
                        text: 'Transaksi'
                    },
                    min: 0
                    // max: 40
                },
                legend: {
                    position: 'top',
                    horizontalAlign: 'right',
                    floating: true,
                    offsetY: -25,
                    offsetX: -5
                }
            },
            series3: [
                {
                    name: "Setoran Siswa",
                    data: [28, 50, 33, 36, 32, 32, 33]
                }
            ],
            chartOptions3: {
                chart: {
                    height: 350,
                    type: 'line',
                    dropShadow: {
                        enabled: true,
                        color: '#000',
                        top: 18,
                        left: 7,
                        blur: 10,
                        opacity: 0.2
                    },
                    toolbar: {
                        show: false
                    }
                },
                colors: ['#77B6EA'],
                dataLabels: {
                    enabled: true,
                },
                stroke: {
                    curve: 'smooth'
                },
                title: {
                    text: 'Statistik Penjualan Sampah / Tahun',
                    align: 'left'
                },
                grid: {
                    borderColor: '#e7e7e7',
                        row: {
                            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                            opacity: 0.5
                        },
                },
                markers: {
                    size: 1
                },
                xaxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'],
                    title: {
                        text: 'Bulan'
                    }
                },
                yaxis: {
                    title: {
                        text: 'Transaksi'
                    },
                    min: 0
                    // max: 40
                },
                legend: {
                    position: 'top',
                    horizontalAlign: 'right',
                    floating: true,
                    offsetY: -25,
                    offsetX: -5
                }
            }
        }
    },
    computed: {
        ...mapState('dashboard', {
            datas: state => state.datas,
        })
    },
    components: {
        Header,
        'Smallbox': smallboxComp,
    },
    methods: {
        ...mapActions('dashboard', ["getTotalData"])
    },
    created() {
        this.getTotalData()
    }
}
</script>

<style>
  .checked {
    color: orange;
  }
</style>