<template>
    <footer class="main-footer">
        <strong>Copyright &copy; 2020 <b class="text-blue">KOMPIS</b></strong> - All right reserved. A product of PT. Solusi Kreatif Kompis.
        <div class="float-right d-none d-sm-inline-block">
        </div>
    </footer>
</template>

<script>
export default{

}
</script>