<template>
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Hallo</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href=""></a></li>
                        <li class="breadcrumb-item active"></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
             <div class="card card-primary">
                <div class="card-header">
                    <div class="card-title">
                        List Jenis Sampah {{this.$route.name}} s {{hallo}} {{cek}}    
                                      </div>
                </div>
                <div class="card-body">
                    <component :is="cekKom"></component>
                </div>
                      </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
</template>