<template>
    <div>
        <div class="container">
            <div class="">
                <div class="text-left pb-2 pt-1">
                    <strong>Copyright &copy; 2020 <b class="text-white">KOMPIS</b></strong> - All right reserved. 
                    <div class="float-right d-none d-sm-inline-block">
                    A product of PT. Solusi Kreatif Kompis.
                    </div>
                </div>    
            </div>
        </div>
    </div>
</template>