<template>
    <div>
        <header>
            <div class="container" align="center">
                <img class="img-fluid " src="~/assets/image/logo/logo_kompis_white.png" alt="" style="width: 300px; padding-top: 30px; padding-bottom: 30px;">
            </div>
        </header>
    </div>
</template>

<script>
export default{

}
</script>