<template>
    <div>

      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
          </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item d-none d-sm-inline-block">
              <button class="btn btn-danger btn-sm mr-1" @click="openLogoutConfirmModal" data-toggle="tooltip" title="Log Out">
                <i class="fas fa-power-off"></i> Log Out
              </button>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->
      <b-modal v-model="logoutModal" title="Keluar Aplikasi">
          Yakin akan keluar?
          <template v-slot:modal-footer>
              <div class="float-right">
                  <b-button variant="primary" size="sm" @click="openLogoutConfirmModal">Batal</b-button>
                  <b-button variant="danger" size="sm" @click="logout" >Keluar</b-button>
              </div>
          </template>
      </b-modal>
    </div>
    
</template>

<script>
import { mapMutations } from 'vuex'
export default {
    data(){
      return {
        logoutModal: false
      }
    },
    methods: {
        ...mapMutations(['SET_IS_AUTH']), //LOAD MUTATION DARI INDEX.JS
        //KITA GUNAKAN ASYNC AGAR BISA MENUNGGU SEBUAH PROSES SELESAI, KEMUDIAN CODE SELANJUTNYA DIJALANKAN
        async logout() {
            await this.$auth.logout() //JADI KITA TUNGGU DULU PROSES LOGOUT SELESAI
            this.SET_IS_AUTH(false) //KEMUDIAN SET ISAUTH JADI FALSE
          this.$auth.$storage.removeUniversal('key')
          this.$auth.$storage.removeUniversal('name')
            this.$router.push('/login') //DAN REDIRECT KE HALAMAN LOGIN
        },
        openLogoutConfirmModal() {
          if(this.logoutModal == true){
            this.logoutModal = false
          } else {
            this.logoutModal = true
          }
        }
    }
}
</script>