<template>
    <div>
      <aside class="main-sidebar sidebar-dark-primary elevation-4 " style="margin-bottom: 400px;">
        <!-- Brand Logo -->
          <nuxt-link to="/" class="brand-link">
            <img src="~/assets/image/logo/logo_kompis_white.png" alt="logo" class="brand-image">
            <span class="brand-text font-weight-light">Online</span>
          </nuxt-link>

        <!-- Sidebar -->
        <div :class="sidebarClass">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="~/assets/image/logo/kompis_blue.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <nuxt-link to="/profile" class="d-block">{{this.$auth.$storage.getUniversal('name')}}</nuxt-link>
            </div>
          </div>
          <!-- Sidebar Menu -->
          <nav class="mt-2 mb-5">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                  <!-- Add icons to the links using the .nav-icon class
                  with font-awesome or any other icon font library -->
                  <li class="nav-item">
                      <nuxt-link to="/dashboard" class="nav-link" :class="{'active': dashboardActive}"> 
                        <i class="nav-icon fas fa-home"></i>
                        <p>Dashboard</p>
                      </nuxt-link>
                  </li>
                  <li class="nav-item">
                      <nuxt-link to="/jenis_sampah" class="nav-link" :class="{'active' : jenisSampahActive}"> 
                        <i class="nav-icon fas fa-trash-restore-alt"></i>
                        <p>Jenis Sampah</p>
                      </nuxt-link>
                  </li>
                  <li class="nav-item">
                    <nuxt-link :to="{name: 'tarik_saldo_siswa'}" class="nav-link" :class="{'active': tarikSaldoActive}">
                      <i class="nav-icon fas fa-calendar-alt"></i>
                      <p>Tarik Saldo Siswa</p>
                    </nuxt-link>
                  </li>
                  <li class="nav-item">
                    <nuxt-link :to="{name: 'daftar_siswa'}" class="nav-link" :class="{'active': siswaActive}">
                      <i class="nav-icon fas fa-users"></i>
                      <p>Siswa</p>
                    </nuxt-link>
                  </li>
                  <li class="nav-item">
                    <nuxt-link to="/nabung_sampah" class="nav-link" :class="{'active': nabungSampahActive}">
                      <i class="nav-icon fas fa-trash-restore-alt"></i>
                      <p>Nabung Sampah</p>
                    </nuxt-link>
                  </li>
                  <li class="nav-item">
                    <nuxt-link to="/penjualan_sampah" class="nav-link" :class="{'active': penjualanSampahActive}">
                      <i class="nav-icon fas fa-calendar-alt"></i>
                      <p>Penjualan Sampah</p>
                    </nuxt-link>
                  </li>
                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" :class="{'active': laporanActive}">
                      <i class="nav-icon fas fa-book"></i>
                      <p>Laporan<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <nuxt-link to="/laporan_setoran" class="nav-link" :class="{'active': laporanSetoranActive}">
                          <i class="nav-icon far fa-circle text-info"></i>
                          Laporan Setoran
                          <p></p>
                        </nuxt-link>
                      </li>
                      <li class="nav-item ">
                        <nuxt-link to="/laporan_penjualan" class="nav-link" :class="{'active': laporanPenjualanActive}">
                          <i class="nav-icon far fa-circle text-info"></i>
                          Laporan Penjualan
                          <p></p>
                        </nuxt-link>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
      </aside>
    </div>
</template>

<script>
export default{
  data() {
    return {
      sidebarClass: 'sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition',
    }
  },
  computed: {
    dashboardActive() {
      if( (this.$route.name == 'dashboard') ||
        (this.$route.name == 'dashboard-rating_pengepul')){
        return true
      } else {
        return false
      }
    },
    jenisSampahActive() {
      if((this.$route.name == 'jenis_sampah') ||
      (this.$route.name == 'jenis_sampah-lihat-id')) {
        return true
      } else {
        return false
      }
    },
    tarikSaldoActive() {
      if((this.$route.name == 'tarik_saldo_siswa')||
      (this.$route.name == 'tarik_saldo_siswa-tambah')){
        return true
      } else {
        return false
      }
    },
    siswaActive() {
      if((this.$route.name == "daftar_siswa") || 
      (this.$route.name == "daftar_siswa-tambah") || 
      (this.$route.name == "daftar_siswa-lihat-id") ||
      (this.$route.name == "daftar_siswa-tabungan-id")
      ){
        return true
      } else {
        return false
      }
    },
    nabungSampahActive() {
      if((this.$route.name == 'nabung_sampah')||
      (this.$route.name == 'nabung_sampah-tambah')||
      (this.$route.name == 'nabung_sampah-lihat-id')){
        return true
      } else {
        return false
      }
    },
    penjualanSampahActive() {
      if((this.$route.name == 'penjualan_sampah')||
      (this.$route.name == 'penjualan_sampah-tambah')||
      (this.$route.name == 'penjualan_sampah-edit-id')){
        return true
      } else {
        return false
      }
    },
    laporanActive() {
      if((this.$route.name == "laporan_setoran") ||
      (this.$route.name == "laporan_penjualan")||
      (this.$route.name == 'laporan_setoran-lihat-id')){
        return true
      } else {
        return false
      }
    },
    laporanSetoranActive() {
      if((this.$route.name == 'laporan_setoran')||
      (this.$route.name == 'laporan_setoran-lihat-id')){
        return true
      } else {
        return false
      }
    },
    laporanPenjualanActive() {
      if(this.$route.name == 'laporan_penjualan'){
        return true
      } else {
        return false
      }
    }
  }
}
</script>