<template>
  <div>
    <app-header :title="title"></app-header>
    <div class="card card-primary">
      <div class="card-header">
        <div class="card-title">
          {{ titleCard }}
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content p-0">
          <div class="row mb-3">
            <div class="col-md-9">
              <nuxt-link :to="{ name: 'nabung_sampah-tambah' }" class="btn btn-primary btn-sm" ><i class="fas fa-pencil-alt"></i> Tambah Data</nuxt-link>
            </div>
            <div class="col-md-3 text-right">
              <div class="input-group input-group-sm">
                <input type="text" placeholder="Search" class="form-control" />
                <button class="btn btn-primary btn-sm">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <b-table :per-page="perPage" :current-page="currentPage" responsive show-empty small striped hover bordered :items="setorans" :fields="fields" thead-class="text-center" head-variant="light">
                <template v-slot:cell(aksi)="row">
                  <nuxt-link :to="{ name: 'nabung_sampah-lihat-id', params: { id: row.item.id_setoran_siswa } }" :key="'lihat' + row.index" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></nuxt-link>
                </template>
                <template v-slot:cell(index)="row">
                  {{((currentPage*10)-10) + row.index + 1}}
                </template>
                <template v-slot:cell(id_status_setoran)="row">
                  <div v-if="row.item.id_status_setoran == 7">
                    <span class="badge badge-success">Selesai</span>
                  </div>
                  <div v-else-if="row.item.id_status_setoran == 2">
                    <span class="badge badge-info">Sedang Diproses</span>
                  </div>
                  <div v-else-if="row.item.id_status_setoran == 1">
                    <span class="badge badge-danger">Ditolak</span>
                  </div>
                </template>
              </b-table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="btn btn-primary btn-sm">Jumlah Record : {{setorans.length}}</div>
            </div>
            <div class="col-md-6 text-right">
              <b-pagination class="float-right" size="sm" v-model="currentPage" :total-rows="setorans.length" :per-page="perPage"></b-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
import Header from "@/components/layouts/Header";
export default {
  async asyncData({ store }) {
    await Promise.all([store.dispatch("setoran/getSetoranData")]);
    return;
  },
  data() {
    return {
      fields: [
        { key: 'index', label: 'No', tdClass: 'text-center', thStyle: 'width: 50px;'},
        { key: 'id_setoran_siswa', label: 'Nota'},
        "nama_siswa",
        "berat_setoran",
        "harga_setoran",
        { key: 'id_status_setoran', label: 'Status Setoran', tdClass: 'text-center'},
        { key: "aksi", tdClass: 'text-center'}
      ],
      items: [],
      id_jenis_sampah: "",
      posts: [""],
      currentPage: 1, 
      perPage: 10,
      pages: [],
      filter: {
        cari: "",
        id_jenis_sampah: ""
      },
      title: "Setoran",
      titleCard: "List Setoran"
    };
  },
  computed: {
    //SETIAP REQUEST KE API, DATANYA AKAN DISIMPAN KE DALAM STATE YANG ADA DIMASING-MASING MODULE STORE VUEX
    //DALAM HAL INI, DATA USER AKAN DISIMPAN KE DALAM STATE USERS, DI DALAM MODULE USER ATAU USER.JS YANG ADA DI DALAM FOLDER STORE
    ...mapState("setoran", {
      setorans: state => state.setorans
      // page: state => state.page
    }),
    ...mapState("jenis", {
      jeniss: state => state.jeniss
      // page: state => state.page
    })
  },
  watch: {
    //KETIKA VALUE DARI STATE PAGE BERUBAH
    page() {
      //MAKA KITA REQUEST DATA BARU
      this.getLapSetData(this.filter);
      this.getJenisData();
    }
  },
  created() {
    this.getJenisData()
  },
  methods: {
    ...mapActions("jenis", ["getJenisData"]),
    ...mapActions("setoran", ["getSetoranData"]),
    ...mapMutations("setoran", ["SET_PAGE"]),

    filter_setoran() {
      this.getSetoranData(this.filter);
    },
    findsetoran() {
      this.getSetoranData(this.filter);
    }
  },
  components: {
    "app-header": Header
  }
};
</script>
 