<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    {{ titleCard }}
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content p-0">
                    <form method="post" v-on:submit.prevent="onSubmit">
                        <div class="form-group">
                            <label for="siswa">Nama Pembeli/siswa </label>
                            <select class="siswa form-control" v-model="data.siswa">
                                <option value="">Silahkan pilih</option>
                                <option v-for="(row, index) in dataSiswa" :key="index" :value="row.id_siswa">
                                {{ row.nis +'-'+ row.nama_siswa }}
                                </option>
                            </select>
                        </div>
                        <button @click.prevent="submit" class="btn btn-primary" style="width: 100px;">Simpan</button>
                        <nuxt-link :to="{name: 'nabung_sampah'}" class="btn btn-secondary" style="width: 100px;">Batal</nuxt-link>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/layouts/Header'
import {mapState, mapActions} from 'vuex'
export default {
    async asyncData({store, params}) {
        await Promise.all([
            store.dispatch('siswa/getSiswaData')
        ])
    },
    data() {
        return {
            title: 'Setoran',
            titleCard: 'Tambah Setoran',
            data: {
                siswa: ''
            }
        }
    },
    components: {
        'app-header': Header
    },
    computed: {
        ...mapState('siswa', {
            dataSiswa: state => state.siswas
        }),
        ...mapState('setoran', {
            respon: state => state.respon
        })
    },
    methods: {
        ...mapActions('setoran', ["createSetoranSiswa","createDetailSetoranSiswa"]),
        submit() {
            // console.log(this.data)
            if(this.data.siswa == ''){
                swal({
                    position  : 'top-end',
                    type      : 'warning',
                    title     : 'Gagal!',
                    text      : 'Nama Siswa Tidak Boleh Kosong',
                    showConfirmButton: false,
                    timer: 1200
                })
            } else {
                this.createSetoranSiswa(this.data)
                .then(() => {
                    console.log(this.respon.id_setoran)
                    this.createDetailSetoranSiswa(this.respon.id_setoran)
                    this.$router.push({name: 'nabung_sampah'})
                })
            }
        }
    },
    created() {
    }
}
</script>