<template>
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">{{titleCard}}</div>
            </div>
            <div class="card-body">



            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/layouts/Header'
export default {
    data() {
        return {
            title: 'Laporan Penjualan',
            titleCard: 'Detail Laporan Penjualan'
        }
    },
    components: {
        'app-header': Header
    }
}
</script>