<template>
    
    <div>
        <app-header :title="title"></app-header>
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">{{titleCard}}</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 pb-5">
                        <div class="row justify-content-center">
                            <label>Foto Siswa</label>
                        </div>
                        <div class="row justify-content-center">
                            <img :src="siswa.foto_kartu_siswa" alt="Foto Siswa" style="max-width: 300px; max-height: 200px;"><br>
                        </div>
                    </div>
                    <div class="col-lg-6 pb-5">
                        <table class="table table-sm" style="overflow: auto">
                            <tr>
                                <td class="font-weight-bold">Nama Siswa</td>
                                <td>{{siswa.nama_siswa}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Alamat Siswa</td>
                                <td>{{siswa.alamat_siswa}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Nama Provinsi</td>
                                <td>{{siswa.nama_provinsi}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Nama Kabupaten</td>
                                <td>{{siswa.nama_kabupaten}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Nama Kecamatan</td>
                                <td>{{siswa.nama_kecamatan}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Email Siswa</td>
                                <td>{{siswa.email_siswa}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">No Hp Siswa</td>
                                <td>{{siswa.no_hp_siswa}}</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Tgl Siswa Daftar</td>
                                <td>{{siswa.tgl_siswa_daftar}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <nuxt-link :to="{name: 'daftar_siswa'}" class="btn btn-primary btn-sm" style="width: 100px;">Kembali</nuxt-link>
                <nuxt-link :to="{name: 'daftar_siswa-tabungan-id', params: {id: siswa.id_siswa}}" :key="'tabungan'+siswa.index" class="btn btn-success btn-sm" style="width: 100px;">Tabungan</nuxt-link>
            </div>
        </div>
    </div>
    
</template>
<script>
import {mapActions, mapState} from 'vuex'
import Header from '@/components/layouts/Header' 
export default {
    async asyncData({store, params}) {
        await Promise.all([
            store.dispatch('siswa/getData', params.id)
        ])
        return
    },
    data() {
        return {
            title: 'Siswa',
            titleCard: 'Detail Siswa'
        }
    },
    components: {
        'app-header': Header
    },
    computed: {
        ...mapState('siswa', {
            siswa: state => state.data,
            errors: state => state.errors
        })
    },
   created() {
        // console.log(this.siswa);
    }, 
    }
</script>